= semantic_form_for [:admin, @language] do |f|
  = f.inputs do
    = f.input :name

    #translations
      = f.semantic_fields_for :translations do |t|
        = render 'translation_fields', f: t
      .links
        %div{style:"padding-left: 20%"}= link_to_add_association 'Add Translation', f, :translations

    = f.action :submit