:sass
  a.almost-8
    background-color: #cecece
    width: 100%
    margin: 0px
    padding: 17px
    font-size: 18px
    color: #fff
    text-align: center
    color: white
    display: block
  hr
    margin: 3px

#portfolio
  .container
    #gallery_container.row
      - if @questions.blank?
        %h2.col-sm-12.text-center
          Please check back later.
      - @questions.each do |question|
        .col-md-3.col-sm-3.col-xs-12
          .row
            =link_to new_question_response_path(question), class: :thumbnail do
              = responsive_image_tag question.web_image_url
              .mask
              .floating-question-title
                %span=question.title
              .icon
                = responsive_image_tag question.category.icon.web.url
                %small.category= question.category.name
              .icon2
                Answered
                %hr
                %small (#{@all_responses})
              .icon3
                Commented
                %hr
                %small (#{@all_comments})
    .row
      .col-sm-12.text-center
        = will_paginate @questions

    -#.row
    -#  .col-md-2
    -#  .col-sm-8
    -#    = link_to_next_page @questions, 'Show More', class:%w(almost-8)
