#content_constraint
  .col-xs-12.col-sm-8.col-sm-push-2
    .form.panel.panel-default
      .panel-heading
        .panel-title
          .row
            .col-xs-3
            .col-xs-6
              %h3 Done
            .col-xs-3
      #response_builder.panel-body
        .row
          %h2.body_title
            Your question
            = @question.title
            %br
            \... is posted!
          = link_to "Share this question!", 'javascript:$(".shareaholic-canvas").toggle()', class: %w(btn btn-primary white-border btn-lg col-xs-10 col-xs-offset-1)
          .shareaholic-canvas{ data: { app: 'share_buttons', 'app-id' => 8080962 }, style: 'display: none' }
          .separator
            %br
            %br
          = link_to "Answer this question!", new_question_response_path(@question), class: %w(btn btn-primary white-border btn-lg col-xs-10 col-xs-offset-1)
          .separator
            %br
            %br
          = link_to "Ask another question...", question_types_path, class: %w(btn btn-primary white-border btn-lg col-xs-10 col-xs-offset-1)
          .separator
            %br
            %br
          = link_to "Home", root_path, class: %w(btn btn-primary white-border btn-lg col-xs-10 col-xs-offset-1)


          %p.col-xs-10.col-xs-push-1.separator Now that your question is posted you should consider sharing your question on your social grid!

:javascript
  $(function() {
    var shr = document.createElement('script');
    shr.setAttribute('data-cfasync', 'false');
    shr.src = '//dsms0mj1bbhn4.cloudfront.net/assets/pub/shareaholic.js';
    shr.type = 'text/javascript'; shr.async = 'true';
    shr.onload = shr.onreadystatechange = function() {
      var rs = this.readyState;
      if (rs && rs != 'complete' && rs != 'loaded') return;
      var site_id = '09104f8bfbc58034f46a42b21966766d';
      try { Shareaholic.init(site_id); } catch (e) {}
    };
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(shr, s);
  });
