.tab-content.followers-tab-content
  - if @user == current_user
    .center
      = link_to "Organize Followers", 'javascript:void(0)', class: 'btn btn-default', data: { toggle: 'modal', target: '#organize-followers' }
      = link_to "Invite Friends", 'javascript:$(".shareaholic-canvas").toggle()', class: 'btn btn-default'
      .shareaholic-canvas{ data: { app: 'share_buttons', 'app-id' => 8080962 }, style: 'display: none' }
  %ul.items
    - @followers.each do |follower|
      %li
        = gravatar_for follower.email, default: :identicon, size: 20
        = link_to follower.name, follower
        - if @user == current_user
          .groups
            - follower.membership_groups.each do |group|
              = link_to "javascript:removeUserFromGroup(#{follower.id}, #{group.id})" do
                %span.label.label-warning
                  = group.name
                  &times;
          .pull-right
            .btn-group
              %button.btn.btn-default.btn-sm.dropdown-toggle{ data: { toggle: 'dropdown' } }
                Add to
                %span.glyphicon.glyphicon-chevron-down
              %ul.dropdown-menu.right-menu
                - @user.groups.where.not(id: follower.membership_groups).each do |group|
                  %li
                    = link_to group.name, "javascript:addUserToGroup(#{follower.id}, #{group.id})"
  .center
    = will_paginate @followers
  = form_for GroupMember.new, html: { class: 'hidden' } do
    = hidden_field_tag :user_id
    = hidden_field_tag :group_id
    = submit_tag
  = form_for :group_member, url: group_members_path, method: :delete, html: { id: 'destroy_group_member', class: 'hidden' } do
    = hidden_field_tag :user_id
    = hidden_field_tag :group_id
    = submit_tag

#organize-followers.modal.fade
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{data: { dismiss: 'modal' } } &times;
        %h4.modal-title Organize Followers
      .modal-body
        .row{ style: 'font-size: 1.2em' }
          - @user.groups.each do |group|
            .col-xs-6
              %span.label.label-warning
                = group.name
            .col-xs-3
              .col-xs-12
                = link_to "javascript:toggleEditGroup(#{group.id})" do
                  .glyphicon.glyphicon-pencil
              .col-xs-12
                = form_for group, html: { style: 'display: none' } do |f|
                  = f.text_field :name, class: 'form-control'
            .col-xs-3
              = link_to group, method: :delete do
                .glyphicon.glyphicon-remove
        %br
        .row
          = form_for Group.new do |f|
            .col-xs-7
              = f.text_field :name, placeholder: "New group", class: 'form-control'
            .col-xs-5
              = f.submit "Add Group!", class: 'btn btn-primary'
      .modal-footer
        %button.btn.btn-default{ data: { dismiss: 'modal' } } Close
        %button.btn.btn-primary{ data: { dismiss: 'modal' } } Done

:javascript
  $(function() {
    var shr = document.createElement('script');
    shr.setAttribute('data-cfasync', 'false');
    shr.src = '//dsms0mj1bbhn4.cloudfront.net/assets/pub/shareaholic.js';
    shr.type = 'text/javascript'; shr.async = 'true';
    shr.onload = shr.onreadystatechange = function() {
      var rs = this.readyState;
      if (rs && rs != 'complete' && rs != 'loaded') return;
      var site_id = '09104f8bfbc58034f46a42b21966766d';
      try { Shareaholic.init(site_id); } catch (e) {}
    };
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(shr, s);
  });
