.tab-content.followers-tab-content
  - if @user == current_user
    .center
      = link_to "Organize Followers", 'javascript:void(0)', class: 'btn btn-default', data: { toggle: 'modal', target: '#organize-followers' }
      = link_to "Invite Friends", 'javascript:void(0)', class: 'btn btn-default'
  %ul.items
    - @followers.each do |follower|
      %li
        = gravatar_for follower.email, default: :identicon, size: 30
        = link_to follower.name, follower
        - if @user == current_user
          .groups
            - follower.membership_groups.each do |group|
              = link_to "javascript:removeUserFromGroup(#{follower.id}, #{group.id})" do
                %span.label.label-warning
                  = group.name
                  &times;
          .pull-right
            .btn-group
              %button.btn.btn-default.btn-sm.dropdown-toggle{ data: { toggle: 'dropdown' } }
                Add to
                %span.glyphicon.glyphicon-chevron-down
              %ul.dropdown-menu.right-menu
                - @user.groups.where.not(id: follower.membership_groups).each do |group|
                  %li
                    = link_to group.name, "javascript:addUserToGroup(#{follower.id}, #{group.id})"
  .center
    = will_paginate @followers
  = form_for GroupMember.new, html: { class: 'hidden' } do
    = hidden_field_tag :user_id
    = hidden_field_tag :group_id
    = submit_tag
  = form_for :group_member, url: group_members_path, method: :delete, html: { id: 'destroy_group_member', class: 'hidden' } do
    = hidden_field_tag :user_id
    = hidden_field_tag :group_id
    = submit_tag

#organize-followers.modal.fade
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{data: { dismiss: 'modal' } } &times;
        %h4.modal-title Manage Follower Groups
      .modal-body
        .row{ style: 'font-size: 1.2em' }
          - mock_groups = (1..3).to_a.map { |n| Group.new(name: "Group #{n}") }
          - (@user.groups + mock_groups).each do |group|
            .col-xs-6
              %span.label.label-warning
                = group.name
            .col-xs-3
              = link_to 'javascript:void(0)' do
                .glyphicon.glyphicon-pencil
            .col-xs-3
              = link_to 'javascript:void(0)' do
                .glyphicon.glyphicon-remove
        %br
        .row
          .col-xs-7
            = text_field_tag :group_name, nil, placeholder: "New group", class: 'form-control'
          .col-xs-5
            = button_tag "Add Group!", class: 'btn btn-primary'
        %br
        .row
          .col-xs-7
            = text_field_tag :group_name, nil, placeholder: "Enter Group Name...", class: 'form-control'
            = password_field_tag :group_password, nil, placeholder: "Enter Group Password...", class: 'form-control'
          .col-xs-5
            = button_tag "Join Group!", class: 'btn btn-primary'
      .modal-footer
        %button.btn.btn-default{ data: { dismiss: 'modal' } } Close
        %button.btn.btn-primary Done
