= simple_form_for @target, url:question_targets_path(@question, @target),:html=>{id:'content_constraint'} do |f|
  = f.association :user, as: :hidden
  .col-xs-12.col-sm-8.col-sm-push-2
    .form.panel.panel-default
      .panel-heading
        .panel-title
          .row
            .col-xs-3
            .col-xs-6
              %h3 Targeting
            .col-xs-3
              =f.button :submit, "Publish", class: %w(btn-primary negative transparent no-border btn-lg)

      #target_builder.panel-body
        .row
          %h2.body_title
            Who are you sending this to
          .col-xs-12.bordered
            = f.input :all_users, label: "Statisfy Universe"
          .col-xs-12.collapse-parent
            = f.input :all_followers, label: "Statisfy Followers", input_html:{class: %w(collapser)}
            = f.collection_check_boxes :followers, @followers, :id, :username, item_wrapper_class: %w(row checkbox collapsable collapsable-item)
          .col-xs-12.collapse-parent
            = f.input :all_groups, label: "Statisfy Groups", input_html:{class: %w(collapser)}
            = f.collection_check_boxes :groups, @groups, :id, :name, item_wrapper_class: %w(row checkbox collapsable collapsable-item)
          .col-xs-12#share_text2.non-selectable
            .checkbox
              %label.col-xs-6
                I want to share this question on my social grid like Facebook, Twitter and more..
              .col-xs-1.col-xs-push-5
                %a.info-holder{:href=>"",:data=>{:toggle=>"modal",:target=>"#share_modal"}}
                  %span.fa.fa-info-circle
          %input{:type=>'hidden',:value=>false,:name=>:anonymous}
          #anonymous_container.col-xs-12.non-selectable
            .row
              .col-xs-9.col-xs-push-1
                .checkbox
                  = check_box_tag :anonymous, true
                  %label{:for=>'anonymous'}
                    Post this question
                    %br
                    anonymously
              .col-xs-1
                %a.info-holder{:href=>"",:data=>{:toggle=>"modal",:target=>"#privacy_modal"}}
                  %span.fa.fa-info-circle

#privacy_modal.modal.fade{:tabindex=>"-1",:role=>"dialog",:data=>{:aria=>{:labelledby=>"privacy_modal",:hidden=>"true"}}}>
  .modal-dialog.modal-sm
    .modal-content
      .modal-body
        Your question will be anonymous.
      .modal-footer
        %button.btn.btn-link.btn-lg{:typee=>"button",:data=>{:dismiss=>"modal"}}
          Close
#share_modal.modal.fade{:tabindex=>"-1",:role=>"dialog",:data=>{:aria=>{:labelledby=>"share_modal",:hidden=>"true"}}}>
  .modal-dialog.modal-sm
    .modal-content
      .modal-body
        You will be able to share your question on the following screen.
      .modal-footer
        %button.btn.btn-link.btn-lg{:typee=>"button",:data=>{:dismiss=>"modal"}}
          Close

  :javascript
    function alterTargetClases(){
      $('.collapsable-item>label' ).addClass('col-xs-11 col-xs-push-1')
      $('#target_builder .col-sm-9.col-sm-offset-3').removeClass('col-sm-9').removeClass('col-sm-offset-3');
    }
    if($){
      alterTargetClases
    }
    $(
      alterTargetClases
    )


  :coffee
    $ ->
      $(document).on "change", ".collapser", ->
        $target = $(this).closest(".collapse-parent").find(".collapsable")
        if $(this).prop("checked")
          console.log $target
          $target.fadeOut()
        else
          console.log $target
          $target.fadeIn()

