= simple_form_for @target, url:question_targets_path(@question, @target) do |f|
  = f.association :user, as: :hidden
  .panel.panel-default
    .panel-heading
      %h2.panel-title Send To
      .panel-body
        .row
          .col-xs-12
            = f.input :all_users

          .col-xs-12.collapse-parent
            = f.input :all_followers, input_html:{class: %w(collapser)}
            = f.collection_check_boxes :followers, @followers, :id, :username, item_wrapper_class: %w(col-xs-8 checkbox col-xs-offset-4 collapsable)

          .col-xs-12.collapse-parent
            = f.input :all_groups, input_html:{class: %w(collapser)}
            = f.collection_check_boxes :groups, @groups, :id, :name, item_wrapper_class: %w(col-xs-8 checkbox col-xs-offset-4 collapsable)

      / .panel-body
      /   .row
      /     .filters-list.col-xs-10.col-xs-push-1.col-sm-8.col-sm-push-2.col-md-6.col-md-push-3.col-lg-4.col-lg-push-4
      /       =f.input :all_users, data:{exclude:true, filter:''}
      /       .data-filter-visual

      /       - if @followers.present?
      /         %label.collapse-trigger.filters-list.filter-name.col-xs-12{data:{toggle:'collapse',target:'.group-list-item'}}
      /           Followers
      /           %input.data-filter{type:'checkbox'}
      /           .data-filter-visual
      /           %label.filter-name.col-xs-12
      /             = f.input :all_followers, data:{exclude:'true', filter:''}
      /             .data-filter-visual
      /           = f.collection_check_boxes :followers, @followers, :id, :username, item_wrapper_class: %w(col-xs-12 checkbox)

      /       - if @groups.present?
      /         %label.collapse-trigger.filters-list.filter-name.col-xs-12{data:{toggle:'collapse',target:'.group-list-item'}}
      /           Groups
      /           %input.data-filter{type:'checkbox'}
      /           .data-filter-visual
      /           %label.filter-name.col-xs-12
      /             All
      /             = f.input :all_groups, data:{exclude:'true', filter:''}
      /             .data-filter-visual
      /           = f.collection_check_boxes :groups, @groups, :id, :name, item_wrapper_class: %w(col-xs-12 checkbox)

  = f.submit class:%(btn btn-default)

  :coffee
    $ ->
      $(document).on "change", ".collapser", ->
        $target = $(this).closest(".collapse-parent").find(".collapsable")
        if $(this).prop("checked")
          console.log $target
          $target.fadeOut()
        else
          console.log $target
          $target.fadeIn()

  / :javascript
  /   if(!window.tcHAndlers){
  /     window.tcHAndlers={};
  /   }
  /   $(function(){
  /       if(!window.tcHAndlers.filterSelectionTrigger){
  /           window.tcHAndlers.filterSelectionTrigger=$('.filters-list').on('change','.data-filter[data-filter]',function(event){

  /             var filtersList=$(event.originalEvent.currentTarget),
  /             is_exclusive=!!$(this).data('exclude'),
  /             filter_value=$(this).data('value'),
  /             filter=$(this).data('filter'),
  /             filterSet=JSON.parse(filtersList.data('filters-set')||'{}');



  /             if(!filter){
  /               filterSet={}
  /             }
  /             else if(!this.checked){
  /               delete filterSet[filter]
  /             }
  /             else{
  /               if(filter_value || filter_value=== 0 || filter_value===''){
  /                 filterSet[filter]=filter_value
  /               }
  /               else{
  /                 filterSet[filter]=true
  /               }
  /             }

  /             filtersList.data('filters-set',JSON.stringify(filterSet));

  /             if(!this.checked){
  /               return;
  /             }

  /             if(is_exclusive){
  /               filtersList.find('.data-filter[data-filter]').attr('checked',false);
  /             }
  /             else{
  /               $(event.originalEvent.currentTarget).find('[data-exclude="true"]').attr('checked',false);
  /             }

  /             this.checked=true;
  /           })
  /       }

  /   })
