= simple_form_for @target, url:question_targets_path(@question, @target),:html=>{id:'content_constraint'} do |f|
  = f.association :user, as: :hidden
  .col-xs-12.col-sm-8.col-sm-push-2
    .form.panel.panel-default
      .panel-heading
        .panel-title
          .row
            .col-xs-3
            .col-xs-6
              %h3 Targeting
            .col-xs-3
              =f.button :submit, "Publish", class: %w(btn-primary negative transparent no-border btn-lg)

      #target_builder.panel-body
        .row
          %h2.body_title
            Who are you sending this to
          .col-xs-12.col-sm-8.col-sm-push-2.bordered
            = f.input :all_users
          .col-xs-12.collapse-parent.col-sm-8.col-sm-push-2
            = f.input :all_followers, input_html:{class: %w(collapser)}
            = f.collection_check_boxes :followers, @followers, :id, :username, item_wrapper_class: %w(row checkbox collapsable collapsable-item)
          .col-xs-12.collapse-parent.col-sm-8.col-sm-push-2
            = f.input :all_groups, input_html:{class: %w(collapser)}
            = f.collection_check_boxes :groups, @groups, :id, :name, item_wrapper_class: %w(row checkbox collapsable collapsable-item)
          .col-xs-12.collapse-parent.col-sm-8.col-sm-push-2
            .checkbox
              = check_box_tag :anonymous, true
              = label_tag :anonymous, "Post this question anonymously"

  :javascript
    function alterTargetClases(){
      $('.collapsable-item>label' ).addClass('col-xs-11 col-xs-push-1 col-sm-7 col-sm-push-5')
    }
    if($){
      alterTargetClases
    }
    $(
      alterTargetClases
    )


  :coffee
    $ ->
      $(document).on "change", ".collapser", ->
        $target = $(this).closest(".collapse-parent").find(".collapsable")
        if $(this).prop("checked")
          console.log $target
          $target.fadeOut()
        else
          console.log $target
          $target.fadeIn()

