#sign_in1
  .container
    .row
      .col-md-12.header
        %h4 Log in to your account
        %p
          There are many variations of passages of Lorem alteration in some form  injected humour these randomised words .
        .col-md-4.social
          = link_to image_tag("b3/img/face.png"), '#', class:%w(circle facebook)
          = link_to image_tag("b3/img/twt.png"), '#', class:%w(circle twitter)
          = link_to image_tag("b3/img/gplus.png"), '#', class:%w(circle gplus)
      .col-sm-3.division
        .line.l
        %span or
        .line.r
      .col-md-12.footer
        = form_for resource, as: resource_name, url: session_path(resource_name), class: "form-inline" do |f|
          = devise_error_messages!
          = f.text_field :login, autofocus: true, placeholder:"Username or email", class:%w{form-control}
          = f.password_field :password, autocomplete: "off", placeholder: "Password", class:%w{form-control}
          = f.submit "sign in"
      .col-md-12.proof
        .col-md-6.remember
          %label.checkbox
            %input{:type => "checkbox"}/
            Remember me
          = link_to "Forgot password?", new_user_password_path
        .col-md-6
          .dosnt
            %span Don’t have an account?
            =link_to "Sign up", new_user_registration_path
