- if session[:demo]
  =render "demo_new"
- else
  #sign_in2
    .container
      .section_header
        %h3
      .row.login
        .col-sm-6.col-sm-push-3.signin_box
          .box
            .box_cont
              .form
                = form_for resource, as: resource_name, url: session_path(resource_name), class: "form-inline" do |f|
                  = devise_error_messages!
                  = f.text_field :login, autofocus: true, placeholder:"Username or Email", class:%w{form-control}
                  = f.password_field :password, autocomplete: "off", placeholder: "Password", class:%w{form-control}
                  = f.submit "sign in"
                  .forgot
                    %span Don’t have an account?
                    =link_to "Sign up", new_user_registration_path
