#sign_up2
  .container
    %br
    %br
    .row.login
      .col-sm-6.col-sm-push-3.signin_box
        .box
          .text-center= @contest.heading_html.html_safe
          .box_cont
            .form
              = simple_form_for @user, as: "user", url: new_contest_user_path, class: "form-inline" do |f|
                = # @user.errors.full_messages
                .form-group= f.input :username, label: false, placeholder: "Enter a Username"
                .form-group= f.input :email, label: false, placeholder: "Enter your E-mail"
                .form-group= f.input :birthdate, placeholder: "Birthdate", start_year: Date.today.year - 90, end_year: Date.today.year - 12, order: [:month, :day, :year]
                %br
                .form-group= f.input :password, autocomplete: "off", label: false, placeholder: "Enter a Password"
                .form-group= f.input :password_confirmation, autocomplete: "off", label: false, placeholder: "Confirm your Password"
                %br
                .form-group.w-icon
                  = f.submit "Continue"
