- provide(:title, @question.title)
.row
  %aside.span2
    %section
      %h1
        %br/
        %br/
        = image_tag("2centsIcon100.png", size: "75x75", alt: "2cents")
  %section
    %h1
      = @question.title
    %center
      %h3
        Responses (#{@response_count})
    %br/
    - @all_results.each do |result|
      %center
        - choice = Choice.find(result[:id])
        = image_tag(choice.image_url)
        %h2= choice.label
        %h2
          %b
            - if @question.question_type == 1
              Order: #{result[:order_average]}
            - elsif @question.question_type == 2
              Value: #{result[:slider_average]}
            - elsif @question.question_type == 3
              Star: #{result[:star_average]}
            - elsif @question.question_type == 4
              Percent: #{result[:percent_average]}
            - elsif @question.question_type == 5
              Value: #{result[:star_average]}
        %br/
        %br/
