%i.fa.fa-cog
Behavioural
%table
  %tr
    %td
      Sessions
    %td(align="center")
      = report[:sessions]
  %tr
    %td
      %i.fa.fa-clock-o
      Time Per Session
    %td(align="center")
      = time_from_seconds(report[:time_per_session]).strftime('%T')
  %tr
    %td
      %i.fa.fa-clock-o
      Total Session Time
    %td(align="center")
      = "#{report[:total_session_time].div 1.hour}:#{time_from_seconds(report[:total_session_time]).strftime('%M:%S')}"
  %tr
    %td
      Views
    %td(align="center")
      = report[:views]
  %tr
    %td
      Interaction Rate
    %td(align="center")
      = report[:interaction_rate].round(2)
  %tr
    %td
      Total Engagements
    %td(align="center")
      = report[:engagements]
  %tr
    %td
      Total Insights
    %td(align="center")
      = report[:insights]