- content_for :body_class, "theme-default page-signup"

#page-signup-bg
  .overlay
  =image_tag "assets/demo/signin-bg-1.jpg"
.signup-container
  .signup-header
    =link_to root_path, class: "logo" do
      =image_tag "assets/demo/logo-big.png", style: "margin-top: -5px;"
      &nbsp; Crashmob
    .slogan Simple. Flexible. Powerful.
  .signup-form
    = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
      = devise_error_messages!
      .signup-text
        %span Create an enterprise account
      .form-group.w-icon
        = f.text_field :name, placeholder: "Name", class:%w{form-control input-lg}
        %span.fa.fa-info.signup-form-icon
      .form-group.w-icon
        = f.email_field :email, placeholder: "E-mail", class:%w{form-control input-lg}
        %span.fa.fa-envelope.signup-form-icon
      .form-group.w-icon
        = f.password_field :password, autocomplete: "off", placeholder: "Password", class:%w{form-control input-lg}
        %span.fa.fa-lock.signup-form-icon
      .form-group.w-icon
        = f.password_field :password_confirmation, autocomplete: "off", placeholder: "Repeat Password", class:%w{form-control input-lg}
        %span.fa.fa-lock.signup-form-icon
      .form-group{:style => "margin-top: 20px;margin-bottom: 20px;"}
        %label.checkbox-inline
          = f.check_box :terms_and_conditions
          %span.lbl
            I agree with the
            = link_to "Terms and Conditions", "#"
      .form-actions
        = f.submit "SIGN UP", class:%w{signup-btn bg-primary}
    .signup-with
      %a.signup-with-btn{:href => "index.html", :style => "background:#4f6faa;background:rgba(79, 111, 170, .8);"}
        Sign Up with
        %span Facebook

.have-account
  Already have an account?
  = link_to "Sign In", new_session_path(resource_name)

:coffee
  # Resize BG
  $ ->
    $ph  = $('#page-signup-bg')
    $img = $ph.find('> img')

    $(window).on 'resize', ->
      $img.attr('style', '')
      if $img.height() < $ph.height()
        $img.css
          height: '100%',
          width: 'auto'
