.panel
  .panel-heading
    %h2.panel-title
      .row
        .col-sm-6 CAMPAIGN MANAGEMENT
        .col-sm-6.text-right-not-xs
          =link_to '#', class: %w(btn btn-sm btn-success btn-labeled) do
            %span.btn-label.glyphicon.glyphicon-download-alt
            Export to .csv
          =link_to [:new_question, current_user], class: %w(btn btn-sm btn-primary btn-labeled) do
            %span.btn-label.fa.fa-plus
            Create Campaign
.table-primary
  %table.table.table-striped.table-bordered#campaigns{cellpadding:0, cellspacing:0, border:0}
    %thead
      %tr
        %th Title of first question of survey
        %th UUID
        %th # Questions
        %th Show | Edit
    %tbody
      - @surveys.each do |survey|
        - question = survey.questions.first
        %tr
          %td= link_to question.title, "#{ENV['WEB_APP_URL']}/#/app/questions/#{question.id}", target: '_blank'
          %td= survey.uuid
          %td= survey.questions.length
          %td.text-center
            = link_to 'View', campaign_path(current_user, survey), class:'btn btn-primary'
            \|
            .btn.btn-success.edit-question{'data-url' => edit_question_path(question)} Edit
#dialog