.panel
  .panel-heading
    %h2.panel-title
      .row
        .col-sm-6 ENGAGEMENT DETAILS
        .col-sm-6.text-right-not-xs
          =link_to [:new_question, current_user], class: %w(btn btn-sm btn-primary btn-labeled) do
            %span.btn-label.fa.fa-plus
            Create Campaign
  %br
  .panel-body
    .row
      .col-md-12
        .panel
          .panel-heading
            %h2.panel-title Engagement Unit Details
          .panel-body
            %table.table
              %thead
                %tr
                  %th Question / Question Pack
                  %th UUID
                  %th Theme/type
              %tbody
                %tr
                  %td
                    = @survey.questions.first.try(:title)
                  %td
                    = @survey.uuid
                  %td
                    = @survey.theme.title
    .row
      .col-md-4
        .panel
          .panel-body
            = render partial: 'users/dashboard/publisher/behavioural_panel', locals: {report: @report[:behavioural]}
      .col-md-4
        .panel
          .panel-body
            = render partial: 'users/dashboard/publisher/emotional_panel', locals: {report: @report[:emotional]}
      .col-md-4
        .panel
          .panel-body
            = render partial: 'users/dashboard/publisher/cognitive_panel', locals: {report: @report[:cognitive]}
    .row
      .col-md-12
        .panel
          .panel-heading
            %h2.panel-title
              .row
                .col-sm-6 Distribution
                .col-sm-6.text-right-not-xs
                  = link_to 'Download .csv', 'javscript:void(0)', class: 'btn btn-primary', id: 'distribution-csv'
          .panel-body
            %table.table#distributions
              %thead
                %tr
                  %th URL
                  %th Count
              %tbody
                - @survey.distributions.each do |link, count|
                  %tr
                    %td= link_to link, link, target: '_blank'
                    %td= count
    .row
      .col-md-12
        .panel
          .panel-heading
            %h2.panel-title Survey Questions
          .panel-body
            %table.table
              %thead
                %tr
                  %th ID
                  %th Title
                  %th Type
                  %th Engagements
                  %th Responses
                  %th View | Edit | Analytics
              %tbody
                - @survey.questions.each do |question|
                  %tr
                    %td=question.id
                    %td=question.title
                    %td=question.type
                    %td=question.view_count.to_i
                    %td= question.responses.count
                    %td
                      = link_to "#{ENV['WEB_APP_URL']}/#/app/question/#{question.id}", class:'btn btn-primary show-question', target: '_blank' do
                        %i.fa.fa-eye
                        View
                      |
                      .btn.btn-success.edit-question{'data-url' => edit_question_path(question)}
                        %i.fa.fa-pencil-square-o
                        Edit
                      |
                      = link_to analytics_user_path(current_user, question), class: 'btn', target: '_blank' do
                        %i.fa.fa-bar-chart
                        Analytics
    .row
      .col-md-12
        .panel
          .panel-heading
            %h2.panel-title Embeddables
          .panel-body
            .row
              .col-md-6(style="word-break: break-all")
                %br
                %iframe{src: qp_start_path(@survey.uuid, :medium_rectangle), width: '300', height: '250', frameborder: '0'}
                %br
                = text_area_tag :medium_rectangle_code, iframe_code(@survey, :medium_rectangle), class: 'form-control',
                style: 'width: 100%; height: 200px'
              .col-md-6(style="word-break: break-all")
                %br
                %iframe{src: qp_start_path(@survey.uuid, :responsive_rectangle), width: '330', height: '450', frameborder: '0'}
                %br
                = text_area_tag :responsive_rectangle_code, iframe_code(@survey, :responsive_rectangle), class: 'form-control',
                 style: 'width: 100%; height: 200px'
#dialog
:coffeescript
  $dialog = $('#dialog')
  $('.edit-question').click (e)->
    e.preventDefault()
    e.stopPropagation()
    $el = $(@)
    $.ajax
      method: 'GET'
      url: $el.data('url')
      success: (html)->
        $dialog.html(html).dialog
          height: 600
          width: 600
          modal: true
        $dialog.find('input[type="submit"]').click ->
          $dialog.find('form').on 'ajax:success', (e, data) ->
            $el.parent().parent().find('td:first-child a').text(data.title)
          $dialog.dialog('close')
  $('#distribution-csv').click ->
    csvContent = "data:text/csv;charset=utf-8,"
    $('#distributions td a').each (_, el)-> csvContent += $(el).attr('href') + '\n'
    encodedUri = encodeURI(csvContent);
    window.open(encodedUri);