.panel.panel-default
  .panel-heading
    %h2.panel-title
      %i.menu-icon.fa.fa-bar-chart-o
      %span.mm-text
        - if demographics.choice
          - if demographics.choice.title.present?
            Demographics for #{demographics.choice.title} (Choice ID #{demographics.choice.id})
          - else
            Demographics for Choice ID #{demographics.choice.id}
        - else
          Demographics for all choices
  .panel-body
    - colors = %w(#1794C0 #183A7B #8A2357 #D1B32D #A84F12 #577638 #5D268F #125FAA)
    - %w(GENDER AGE CHILDREN INCOME ETHNICITY EDUCATION POLITICALAFFILIATION POLITICALENGAGEMENT).each_with_index do |id, idx|
      -# MALEAGE FEMALEAGE
      - info = demographics.info id
      - if info
        %div{class:"demographics-body #{id.downcase}"}

          .row.demo-header
            .col-md-6.text-left
              -# %img.demo-icon.pull-left{src:"//placehold.it/40x40.png"}
              %strong.demo-name.pull-left= info[:name]

            .col-md-6.hidden-sm.hidden-xs.text-right.demo-index
              %span.text-muted Largest Group and Index
              %br
              %strong.largest-bucket= info[:largest_bucket][:name]

          .row.demographics-data
            .col-md-6=render "users/index_chart", info: info, color: colors[idx]
            .col-md-6=render "users/percentage_chart", info: info
