- question ||= nil

- if question
  .row#question_analytics
    .col-sm-4
      .panel.panel-default
        .panel-heading
          %h2.panel-title Question Analytics
        .panel-body
          .row.response
            %div= render "questions/response_fields", question:question

      .panel.panel-default
        .panel-heading
          %h2.panel-title
            %i.menu-icon.fa.fa-bar-chart-o
            %span.mm-text Statistics
        %table.table
          %tr
            %td Views
            %td.text-right= question.view_count.to_i
          %tr
            %td Viral Reach
            %td.text-right= question.viral_reach
          %tr
            %td Completes
            %td.text-right= question.response_count
          %tr
            %td Skips
            %td.text-right= question.skip_count
          %tr
            %td Comments
            %td.text-right= question.comment_count
          - unless question.view_count.to_i == 0
            %tr
              %td Complete Rate
              %td.text-right= question.response_count / question.view_count.to_i
          %tr
            %td Viral Distribution
            %td.text-right= question.unique_referrer_count
    .col-sm-8
      - if @demographics
        #demographics= render 'users/demographics', demographics: @demographics
- else
  Select a question
