.panel.panel-default
  .panel-heading
    %h2.panel-title
      =link_to "https://en.gravatar.com", target: :_blank do
        - gravatar_for @user.email, default: :identicon
      &nbsp;
      =@user.username
  .panel-body
    .row

      .col-sm-4
        .panel.panel-default
          .panel-heading
            %h3.panel-title You have asked #{pluralize @user.questions.count, "question"}
          .list-group
            - @user.questions.each do |question|
              .list-group-item=question.title

      .col-sm-4
        .panel.panel-default
          .panel-heading
            %h3.panel-title You have answered #{pluralize @user.responses.count, "question"}
          .list-group
            - @user.responses.each do |response|
              .list-group-item=response.question.title

      .col-sm-4
        .panel.panel-default
          .panel-heading
            %h3.panel-title You have made #{pluralize @user.comments.count, "comment"}
          .list-group
            - @user.comments.each do |comment|
              .list-group-item=comment.question.title

      .col-sm-4
        .panel.panel-default
          .panel-heading
            %h3.panel-title You have #{pluralize @user.followers.count, "follower"}
          .list-group
            - @user.followers.each do |follower|
              .list-group-item=follower.username

      .col-sm-4
        .panel.panel-default
          .panel-heading
            %h3.panel-title You are following #{pluralize @user.leaders.count, "other user"}
          .list-group
            - @user.leaders.each do |leader|
              .list-group-item=leader.username
