#dashboard
  %ul.breadcrumb.breadcrumb-page
    .breadcrumb-label.text-light-gray You are here:
    %li=link_to "Home", root_path
    %li.active=link_to "Dashboard", '#'

  = render 'users/dashboard/header'
  = form_for :days_ago, method: 'GET' do |f|
    = label_tag :days_ago
    = select_tag :days_ago, options_for_select([7, 14, 30], @days_ago)
    = submit_tag :apply, class: 'btn btn-labeled btn-success'
  .row
    #behavioural-emotional-report{data: {lazy_template: behavioural_report_user_path(current_user)}}
      %i.fa.fa-gear.fa-spin
      Loading behavioural and emotional reports...
  .row
    #cognitive-report.col-md-4.panel{data: {lazy_template: cognitive_report_user_path(current_user)}}
      %i.fa.fa-gear.fa-spin
      Loading cognitive report...
    #recent_responses.col-md-6{data:{lazy:recent_responses_user_path(@user)}}
      %i.fa.fa-gear.fa-spin
      Loading recent responses...
  %hr.no-grid-gutter-h.grid-gutter-margin-b.no-margin-t/