.panel
  .panel-heading
    %h2.panel-title
      .row
        .col-sm-6 QUESTION PACKS MANAGEMENT
        .col-sm-6.text-right-not-xs
          =link_to '#', class: %w(btn btn-sm btn-success btn-labeled) do
            %span.btn-label.glyphicon.glyphicon-download-alt
            Export to .csv
          =link_to [:new_question, current_user], class: %w(btn btn-sm btn-primary btn-labeled) do
            %span.btn-label.fa.fa-plus
            Create Question Pack
.table-primary
  %table.table.table-striped.table-bordered#campaigns{cellpadding:0, cellspacing:0, border:0}
    %thead
      %tr
        %th.bg-success{colspan:3} These are all of your question packs
        %th.bg-default{colspan:4} Engagements
      %tr
        %th Question Packs
        %th Additional Time on Site
        %th Additional Traffic
        %th Shares
        %th Views
        %th Completes
        %th
    %tbody
      - @surveys.each do |survey|
        - q = survey.questions.first
        - if q.present?
          %tr
            %td
              = link_to q.title, "/#/app/questions/#{q.id}", target: '_blank'
              - more_question_count = survey.questions.length - 1
              - analytics = @analytics[survey.id]
              - if more_question_count > 0
                %i.fa.fa-plus-circle
                more
                = pluralize more_question_count, 'question'
            %td.text-center= analytics[:time]
            %td.text-center= analytics[:traffic]
            %td.text-center= analytics[:shares]
            %td.text-center= analytics[:views]
            %td.text-center= analytics[:completes]
            %td=link_to 'Analytics', analytics_user_path(@user, q)
