#users-show
  .top
    .left
      .avatar-container
        =link_to "https://en.gravatar.com", target: :_blank do
          - gravatar_for @user.email, default: :identicon
      %h3.name= @user.username
    .right
      .stats
        %p.stat
          %span.count= @user.questions.count
          questions
        %p.stat
          %span.count= @user.responses.count
          answers
        %p.stat
          %span.count= @user.followers.count
          followers
      - if @user != current_user
        =link_to "Follow", user_path(@user), class: 'btn btn-default'
    .clearfix
  %ul.nav.nav-tabs
    %li.active
      =link_to user_path(@user) do
        %i.icon.fa.fa-star
        Notifications
    %li
      =link_to user_path(@user) do
        %i.icon.fa.fa-comment
        Questions
    %li
      =link_to user_path(@user) do
        %i.icon.fa.fa-ellipsis-h
        Communities
    %li
      =link_to user_path(@user) do
        %i.icon.fa.fa-users
        Followers
    %li
      =link_to user_path(@user) do
        %i.icon.fa.fa-plus-circle
        Following
  .tab-content.notifications-tab-content
    - @user.messages.each do |message|
      %p.notification= message.body
