- content_for :between_buttons do
  - question.choices.each_with_index do |c, i|
    - style = "background-image: url(#{c.web_image_url});"
    - if answer
      %div{class: "image-choice index-#{i}", style: style}
        - ratio = (c.response_ratio * 100).to_i
        %div{class: "bar-blue #{'selected' if answer.choice_id == c.id}"}
          .bar-graph{style: "width: #{ratio}%;"}
          .bar-selected
          .bar-response #{ratio}%
        .spacer
        .text= c.title

    - else
      - url = qp_create_response_path(@survey.uuid, @ad_unit.name, question)
      = button_to url, form: {target: '_self', style: style, class: "image-choice index-#{i}"}, params: {'response[choice_id]' => c.id} do
        .spacer
        .text= c.title
