- content_for :between_buttons do
  .main-image{style: "background-image: url(#{question.web_image_url})"}

- content_for :below_buttons do
  - if answer.present?
    .bar-blue
      .bar-title
        = pluralize(question.responses.size, 'Person', 'People') + " answered this question."
  - else
    - url = qp_create_response_path(@survey.uuid, @ad_unit.name, question)
    = form_tag url, target: '_self' do
      .textarea
        = text_area_tag 'response[text]', nil, placeholder: 'Type your answer here'
      .bar-orange
        %button{type:'submit'}= 'Submit'
