- meta = meta_data_for(question.background_image)

- content_for :between_buttons do
  .main-image{data: {image: meta}}

- content_for :below_buttons do
  - if answer.present?
    .bar-blue
      .bar-title= t('embeddable_unit.response_count', count: question.responses.size)
    %a.bar-orange{href: question_sharing_url(uuid: question.id, subdomain: 'a')}
      .bar-title= t('embeddable_unit.see_responses')
  - else
    - url = qp_create_response_path(@survey.uuid, @ad_unit.name, question)
    = form_tag url, target: '_self' do
      .textarea
        = text_area_tag 'response[text]', nil, placeholder: 'Type your answer here'
      .bar-orange
        %button{type:'submit'}= 'Submit'
