<div class="row">
  <aside class="span4">
    <section>
      <%= render 'shared/user_info' %>
    </section>

    <!-- Hide micropost legacy stuff for now with if false statement -->
    <% if false %>
      <section>
        <%= render 'shared/stats' %>
      </section>
      <section>
        <%= render 'shared/micropost_form' %>
      </section>
    <% end %>  
    <!-- End of hiding micropost legacy stuff -->

  </aside>


  <!-- Hide micropost legacy stuff for now with if false statement -->
  <% if false %>
    <div class="span8">
      <h3>Micropost Feed</h3>
      <%= render 'shared/feed' %>
    </div>
  <% end %>  
  <!-- End of hiding micropost legacy stuff -->

  <div class="span8">
    <h3>Questions Answered</h3>
    <% if @questions_answered.any? %>
      <ol class="questions">
        <%= render @questions_answered %>
      </ol>
      <%= will_paginate @questions_answered %>
    <% end %>
  </div>


</div>