-id||=''
-distro||=:upload_first
-upload_class='col-xs-6'
-arrows_class='col-xs-3'
-if(distro==:upload_piramid)
  -upload_class='col-xs-12 form-group'
  -arrows_class='col-xs-6'
.image_control.row{:id=>"#{id}"}
  <Image manipulation tools>
  -if(distro==:upload_piramid || distro==:upload_first)
    %a.question-image-uploader.upload-trigger{:class=>"#{upload_class}"}
      %span.glyphicon.glyphicon-cloud-upload
      %input{:type=>'file'}
  =link_to '#', class:[:prev_image,"#{arrows_class}"] do
    %span.glyphicon.glyphicon-chevron-left
  -if(distro==:upload_middle)
    %a.question-image-uploader.upload-trigger{:class=>"#{upload_class}"}
      %span.glyphicon.glyphicon-cloud-upload
      %input{:type=>'file'}
  =link_to '#', class:[:next_image,"#{arrows_class}"] do
    %span.glyphicon.glyphicon-chevron-right
  -if(distro==:upload_last)
    %a.question-image-uploader.upload-trigger{:class=>"#{upload_class}"}
      %span.glyphicon.glyphicon-cloud-upload
      %input{:type=>'file'}

  :javascript
    if(!window.tcHAndlers){
      window.tcHAndlers={};
    }
    if(!window.tcHAndlers.usedImages){
      window.tcHAndlers.usedImages=[];
    }
    window.tcHAndlers.usedImages.push("#{f.object.web_image_url}");

    $(function(){
        if(!window.tcHAndlers){
          window.tcHAndlers={};
        }
        if(!window.tcHAndlers.uploaderHandlerTrigger){
            window.tcHAndlers.uploaderHandlerTrigger=$('.question-image-uploader').on('click',function(event){
            //event.preventDefault();
              $(this).find('[type="file"]')[0].click();
            })
        }
        if(!window.tcHAndlers.uploaderHandlerFile){
            var container=$(this).closest('.canned');
            window.tcHAndlers.uploaderHandlerFile=$('.question-image-uploader input[type="file"]').on('change',function(event){
              var data = new FormData();
              data.append('background_image', this.files[0]);

              $.ajax({
                  url: '/background_images',
                  data: data,
                  cache: false,
                  contentType: false,
                  processData: false,
                  type: 'POST',
                  success: function(data){
                      alert(data);
                  }
              });

            })
        }
    })