-id||=''
-base_class||=''
-distro||=:upload_first
-upload_class='col-xs-6'
-arrows_class='col-xs-3 image-nav-control'
-if(distro==:upload_piramid)
  -upload_class='col-xs-12 form-group'
  -arrows_class='col-xs-6 image-nav-control'
.image_control.row{:id=>"#{id}",:class=>"#{base_class} #{distro}"}
  <Image manipulation tools>
  -if(distro==:upload_piramid || distro==:upload_first)
    %button.question-image-uploader.transparent.upload-trigger{:class=>"#{upload_class}",:type=>:button}
      %span.glyphicon.glyphicon-camera
      %input{:type=>'file'}
  =link_to '#', class:[:prev_image,"#{arrows_class}"] do
    %span.glyphicon.glyphicon-chevron-left
  -if(distro==:upload_middle)
    %button.question-image-uploader.transparent.upload-trigger.centered{:class=>"#{upload_class}",:type=>:button}
      %span.glyphicon.glyphicon-camera
      %input{:type=>'file'}
  =link_to '#', class:[:next_image,"#{arrows_class}"] do
    %span.glyphicon.glyphicon-chevron-right
  -if(distro==:upload_last)
    %button.question-image-uploader.transparent.upload-trigger{:class=>"#{upload_class}",:type=>:button}
      %span.glyphicon.glyphicon-camera
      %input{:type=>'file'}

:javascript




  function registerHandlers(){
    console.log('registering');
    $('body').off('click','.question-image-uploader');
    window.tcHandlers.uploaderHandlerTrigger=$('body').on('click','.question-image-uploader',function(event){
      $(this).find('[type="file"]')[0].click();
    })

    var container=$(this).closest('.canned');
    $('.question-image-uploader input[type="file"]').off('change');
    window.tcHandlers.uploaderHandlerFile=$('.question-image-uploader input[type="file"]').on('change',function(event){
      var data = new FormData();
      data.append('image', this.files[0]);
      $.ajax({
        url: "/#{type}_images",
        data: data,
        cache: false,
        contentType: "multipart/form-data",
        processData: false,
        type: 'POST',
        success: function(data){
          alert(data);
        }
      });
    })
  }

  if(window.tcHandlers){
    registerHandlers();
  }else{
    $(registerHandlers);
  }


  if(!window.tcHandlers){
      window.tcHandlers={};
    }
    if(!window.tcHandlers.usedImages){
      window.tcHandlers.usedImages=[];
    }
    window.tcHandlers.usedImages.push("#{f.object.web_image_url}");



