-style_type||='transparent-white'
.share-follow-menu{class:"#{style_type}"}
  .well-wrap.row
    = link_to "", class:%w(col-xs-5 col-sm-5 ), remote:true do
      %h5 Posted by
      %h6.elipsable
        = @question.user.username
    - if user_signed_in?
      - if @question.user != current_user
        - if current_user.following? @question.user
          = link_to "Unfollow",[:unfollow, @question.user],class:"col-xs-3 col-sm-4 btn vertical-middle btn-default #{style_type}" 
        - else
          = link_to "Follow",[:follow, @question.user],class:"col-xs-3 col-sm-4 btn vertical-middle btn-default #{style_type}" 
      - else
        .col-xs-3.col-sm-4
      %a.col-xs-2.col-sm-push-1.col-xs-push-2.vertical-middle.overlay-toggler
        %h4 ...

.overlay
  .col-xs-10.col-xs-push-1.col-sm-8.col-sm-push-2.col-sm-push-1.col-md-6.col-md-push-3.clearfix.share-popup.overlay-action
    .row
      .col-xs-12
        .shareaholic-canvas.col-xs-6.col-xs-push-3.col-md-8.col-md-push-0{:data=>{:app=>'share_buttons', "app-id"=>'8080962', link: new_question_response_url(@question)}}
        .col-xs-12.col-md-4
          %button.btn.btn-primary.btn-lg.negative.col-xs-12.form-group.clearfix.overlay-action-switch{:data=>{:target=>"share-report"}}
            Cancel
  .col-xs-12.col-sm-10.col-sm-push-1.col-md-6.col-md-push-3.clearfix.report-popup.overlay-action
    .row
      .col-sm-12
        .col-xs-12
          %textarea.col-xs-12.form-group{name: 'message', placeholder: 'what do you want us to know?'}
        .col-xs-12.col-md-6
          %button.btn.btn-primary.negative.col-xs-12.clearfix.form-group
            Submit
        .col-xs-12.col-md-6
          %button.btn.btn-primary.negative.col-xs-12.clear-fix.overlay-action-switch.form-group{:data=>{:target=>"share-report"}}
            Dismiss
  .col-xs-12.col-sm-10.col-sm-push-1.col-md-6.col-md-push-3.clearfix.share-report-popup.overlay-action
    .row
      .cox-sm-12.col-md-4
        %a.form-group.btn.btn-primary.negative.col-xs-12.overlay-action-switch.clearfix{:data=>{:target=>"report"}}
          Report
      .cox-sm-12.col-md-4
        %a.form-group.btn.btn-primary.negative.col-xs-12.overlay-action-switch.clearfix{:data=>{:target=>"share"}}
          Share
      .cox-sm-12.col-md-4
        %a.form-group.btn.btn-primary.negative.col-xs-12.overlay-toggler.clearfix
          Cancel

:javascript
  if(!window.tcHAndlers){
    window.tcHAndlers={};
  }
  $(function(){
    if(!window.tcHAndlers.overlayHandler){
      window.tcHAndlers.overlayActionHandler=$('.overlay').on('click','.overlay-action-switch',function(event){
        event.preventDefault();
        event.stopPropagation();
        $('.overlay .overlay-action').hide('fast');
        var target=$(this).data('target');
        $('.overlay .overlay-action.'+target+'-popup').show();
      })
      $('.overlay-toggler').on('click',function(){
        event.preventDefault();
        event.stopPropagation();
        $('.overlay .overlay-action').hide('fast');
        var overlay=$('.overlay');
        var action=overlay.css('display')!=='none'?'hide':'show'
        overlay[action]();
        $('.overlay .overlay-action.share-report-popup').show();

       })
    }

    var shr = document.createElement('script');
    shr.setAttribute('data-cfasync', 'false');
    shr.src = '//dsms0mj1bbhn4.cloudfront.net/assets/pub/shareaholic.js';
    shr.type = 'text/javascript'; shr.async = 'true';
    shr.onload = shr.onreadystatechange = function() {
      var rs = this.readyState;
      if (rs && rs != 'complete' && rs != 'loaded') return;
      var site_id = '09104f8bfbc58034f46a42b21966766d';
      try { Shareaholic.init(site_id); } catch (e) {}
    };
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(shr, s);
  })
