.row
  .col-md-8.col-md-push-2
    = render "responses/response_fields/shared/title", form:form, response:response
    .well
      .row
      -n=0
      -@response.question.choices.each do |c|
        -n+=1
        %label.col-md-6.choice-wrapper
          =radio_button_tag("image_choice_response[choice_id]",c.id,false,{class:'selected-choice'})
          =responsive_image_tag((c.web_image_url || image_path("fallback/choice#{n}.png")), class: "img-responsive")
          %i.glyphicon.glyphicon-ok.selected
          .option-title=c.title
    = render "responses/response_fields/shared/comment", form:form, response:response
    = render "responses/response_fields/shared/sharing", form:form, response:response
    = render "responses/response_fields/shared/anonymous", form:form, response:response
    %br
    = render "responses/response_fields/shared/submit", form:form, response:response
  .col-lg-3