.row
  .col-lg-3
  .col-lg-6
    = render "responses/response_fields/shared/title", form:form, response:response
    .well
      .row.image-choices
        - n = 1
        = form.collection_radio_buttons :choice_id, response.question.choices, :id, :title, item_wrapper_class: 'col-xs-6' do |c|
          .title= c.object.title
          = c.radio_button label:false
          .indicators
            .checkmark
              = responsive_image_tag "icons/CheckTransparent60.png"
            = responsive_image_tag((c.object.image.web.url || image_path("fallback/choice#{n}.png")), class: "img-responsive")
          - n += 1
    = render "responses/response_fields/shared/comment", form:form, response:response
    = render "responses/response_fields/shared/sharing", form:form, response:response
    = render "responses/response_fields/shared/anonymous", form:form, response:response
    %br
    = render "responses/response_fields/shared/submit", form:form, response:response
  .col-lg-3