:sass
  .ignore-float
    float: none !important
    clear: both

  .img-responsive
    max-height: 160px

  .list-unstyled
    padding-left: 15px
    padding-right: 15px

  #ordered_choices
    li
      .panel
        margin-bottom: 0
%div
  .col-xs-12.col-sm-10.col-sm-push-1.col.col-md-8.col-md-push-2
    .row.order-choices
      .col-xs-12.ignore-float
        = render "responses/response_fields/shared/title", form:form, response:response
      %ul#ordered_choices.list-unstyled.col-xs-12
        = form.fields_for :choice_responses do |c|
          %li
            .panel.panel-default.handle
              = c.input :order_choice_id, as: :hidden
              = c.input :position, as: :hidden
              .floating-question-title.col-sm-12=c.object.choice.title
              = responsive_image_tag(c.object.choice.web_image_url, class: "img-responsive")
    = render "responses/response_fields/shared/comment", form:form, response:response
    = render "responses/response_fields/shared/sharing", form:form, response:response
  .col-xs-12.col-sm-10.col-sm-push-1.col.col-md-8.col-md-push-2
    .row
      .col-xs-12.form-group.clearfix
        = render "responses/response_fields/shared/anonymous", form:form, response:response
      .col-xs-12
        = render "responses/response_fields/shared/submit", form:form, response:response
