.row
  .col-md-4
  .col-md-4
    = render "responses/response_fields/shared/title", form:form, response:response
    %ul#orderChoices.list-unstyled
      = form.fields_for :choice_responses do |c|
        %li
          .panel.panel-default.handle
            = c.input :order_choice_id, as: :hidden
            = c.input :position, as: :hidden
            = responsive_image_tag(c.object.choice.image.web.url, class: "img-responsive")
            .title=c.object.choice.title
    = render "responses/response_fields/shared/comment", form:form, response:response
    = render "responses/response_fields/shared/sharing", form:form, response:response
    = render "responses/response_fields/shared/anonymous", form:form, response:response
    %br
    = render "responses/response_fields/shared/submit", form:form, response:response
  .col-md-4