.panel-body.response
  = form.fields_for :scene do |s|
    = s.input :studio_id, as: :hidden
    = s.input :user_id, as: :hidden
    = s.input :canvas_json, as: :hidden
    = s.input :base64_image, as: :hidden
    =render "pages/photoshoot", question:response.question
    %br
    =s.input :name, placeholder: "Name your cereal", label: false
    =render "responses/response_fields/shared/comment", form:form, response:response
    =render "responses/response_fields/shared/submit", form:form, response:response