:sass
  .text-choices
    position: relative
    .popover.bottom.text-answer
      padding: 0
      display:  block
      position: relative
      margin-top: 0
      box-shadow: none
      max-width: none
      height: auto
      .arrow
        left: 12.5%
      .form-group.text
        margin: 0
        textarea
          height: 6em
          border: none
          resize: none
          margin: 0
    .follow-menu
      margin-top: -65px
      background-color: transparent

    .btn-default.negative
      background-color: transparent
      color: white
      border-color: white

.row.form-group
  .col-sm-12.text-choices
    .col-xs-12
      = responsive_image_tag((response.question.web_image_url || image_path("fallback/choice1.png")), class: "img-responsive")
      .floating-question-title
        %span= response.question.title
      %div
        .col-xs-12
          = render "responses/response_fields/shared/sharing", form:form, response:response
      .row
        .col-xs-12
          .popover.bottom.text-answer.form-group
            = form.input :text, as: :text, label: false, error:false, placeholder: "Type your response here", input_html: { rows:3 }
            -#.arrow
  .col-sm-12
    .col-xs-12
      = render "responses/response_fields/shared/anonymous", form:form, response:response
.col-sm-12
  = render "responses/response_fields/shared/submit", form:form, response:response