:sass
  .selectable-option
    text-align: center
    display: block
    overflow: hidden
    background: none!important
    clear: both!important
    float: none!important
    padding: 0 !important

    label
      display: block
      position: relative
      cursor: pointer

    input
      position: absolute
      bottom: 100%
      margin-bottom: 3px

    img
      visibility: hidden
      width: 90% !important

    .option-title
      font-size: 1.4em
      position: absolute
      width: 100%
      text-align: center
      top: 50%
      margin-top: -0.7em
      left: 0
    &.active
      label.btn-primary
        background-color: #2b59a2
  .equalizer
    margin-bottom: 3.3%
.row.text-choices
  .col-md-4.col-md-push-2
    = responsive_image_tag((response.question.web_image_url || image_path("fallback/choice1.png")), class: "img-responsive")
    .floating-question-title
      %span= response.question.title
  .col-xs-12.col-md-4.col-md-push-2.btn-group{:data=>{:toggle=>"buttons"}}
    -cols=(12/response.question.choices.length)+1
    -pc_margin=(10/(response.question.choices.length-1)).to_s+'%'
    %div.equalizer.hidden-lg
    = form.collection_radio_buttons :choice_id, response.question.choices, :id, :title, label:false, wrapper:false, boolean_style: 'inline', item_wrapper_class:"col-xs-12 selectable-option btn"  do |c|
      %label.btn-primary.col-xs-12{style:"margin-bottom:#{pc_margin};"}
        .row
          %div{:class=>["col-xs-4 col-sm-3 col-md-#{cols}"]}
            = responsive_image_tag((response.question.web_image_url || image_path("fallback/choice1.png")), class: "img-responsive")
        .option-title=c.object.title
        = c.radio_button label:false, boolean_style: 'inline', wrapper:false
.row
  .col-md-4.col-md-push-2
    = render "responses/response_fields/shared/sharing", form:form, response:response
.row.form-group
  .col-md-4.col-md-push-2
    = render "responses/response_fields/shared/comment", form:form, response:response
  .col-md-4.col-md-push-2
    = render "responses/response_fields/shared/anonymous", form:form, response:response
.row
  .col-md-8.col-md-push-2
    = render "responses/response_fields/shared/submit", form:form, response:response