:sass
  .equalizer-md
    margin-bottom: 3%
  .equalizer-sm
    margin-bottom: 1.3%

  .follow-menu
    margin-top: -65px
    background-color: transparent

  .text-choices
    .choices
      label
        width: 100%

      label > input // HIDE RADIO
        visibility: hidden // Makes input not-clickable
        position: absolute // Remove input from document flow

      label > input + .text-title
        font-size: 1.7em
        color: #357ebd
        border: solid 1px #3d7fb7
        background-color: white
        padding: 15px 3px
        line-height: 27px
        margin: 0
        text-align: center
        width: 100%
        cursor: pointer

      label > input:checked + .text-title // (RADIO CHECKED) STYLES
        background-color: #357ebd
        color: white
:coffee
  $(document).on "change", ".question-response input[type=radio]", ->
    this.form.submit()

.text-choices.form-group
  .col-xs-12
    .row
      .col-xs-12
        = responsive_image_tag((response.question.web_image_url || image_path("fallback/choice1.png")), class: "img-responsive", style:"width: 519px; height: 519px;")
        .floating-question-title
          %span= response.question.title
        %div
          .col-xs-12
            = render "responses/response_fields/shared/sharing", form:form, response:response
      .col-xs-12.btn-group
        = form.collection_radio_buttons :choice_id, response.question.choices, :id, :title, label:false, wrapper:false, boolean_style: 'inline', item_wrapper_class:"choices" do |c|
          %label
            = c.radio_button label:false, boolean_style: 'inline', wrapper:false
            .text-title= c.object.title
    .row
      .col-xs-12.form-group
        = render "responses/response_fields/shared/comment", form:form, response:response
      .col-xs-12.form-group
        = render "responses/response_fields/shared/anonymous", form:form, response:response
    =render "responses/response_fields/shared/submit", form:form, response:response