.welcome-features
  .features-a
    .row
      .col-md-4
        .feature
          .image-container
            = responsive_image_tag 'home/text-1.png'
          %h3 Ask anything, any way
          %p
            With
            %strong Statisfy
            you can ask the questions you want, the way you want. Choose from yes/no to multiple-choice to open-ended question types.
      .col-md-4
        .feature
          .image-container
            = responsive_image_tag 'home/text-2.png'
          %h3 See how you compare
          %p See how your answers stack up with our real-time, easy-to-read charts that turn your answers into statistics to be compared and shared.
      .col-md-4
        .feature
          .image-container
            = responsive_image_tag 'home/text-3.png'
          %h3 Target your questions
          %p
            Use
            %strong Statisfy
            to target specific questions to specific people. Finally, a way for you to get the answers you want from the people that matter most.

  .features-b
    .row
      .col-md-6
        .feature
          .image-container
            = responsive_image_tag 'home/text-4.png'
          %h3 Create Communities
          %p Our “Communities” function allows you to pick which of your questions are seen by whom. Join a public community to get to know people with similar interests or make your own closed community, a password-protected community that can be accessed by only those you invite.
      .col-md-6
        .feature
          .image-container
            = responsive_image_tag 'home/text-5.png'
          %h3 Artistic and visual expression
          %p Bring your questions to life with images and visuals that take your content to the next level.

  .features-c
    .row
      .col-md-12
        %h2
          With
          %strong STATISFY
          you’ll start getting answers as soon as you ask your question. No more waiting for results.
