:sass
  .invert-float
    float: right

  #canvas-row
    margin-left: -15px !important
    margin-right: -15px !important

  #nutrition_facts_wrapper
    font-size: 1.5rem
    background-color: white
    h3#nutrition-facts
      font-size: 2em
      font-weight: bold
      margin: 0
      padding-top: 5px
    h4
      font-size: 1.1em
      font-weight: normal
    h5
      font-weight: bold
      display: inline
      padding: 0
      margin: 0


    table
      width: 100%
      tr
        td
          font-size: 1em
          word-break: keep-all
          white-space: nowrap
          box-sizing: border-box
          padding-top: 5px !important
          padding-bottom: 5px !important
          &.fiber-counter,
          &.sugar-counter
            padding-left: 10px

          h5
            display: block
            position: relative
            .nutrition-value
              position: absolute
              top: 0
              right: 0

      &:last-child
        tr:last-child
          border-bottom-width: 10px

    .nutrition-info
      font-size: 1em
      border-bottom: 1px solid black

  .pack-browser-control
    color: cyan!important
  #asset-title
    .dropdown
      .fa.fa-chevron-down
        color: white
        font-size: 1.1em
        background-color: darkcyan
        padding: 3px
        padding-top: 1px
        margin-top: -4px
        height: 1.6em
        line-height: 1.6em
        vertical-align: middle
        border-radius: 5px


- question ||= nil
#photoshootinfo.hidden{data:{studio_id:studio.id, studio_name:studio.display_name || studio.name, logged_in:user_signed_in?, question_id:question.try(:id)}}

%section#studio-wrapper
  .row
    .col-sm-3.invert-float#nutrition_facts_wrapper
      %button#show_hide_facts.btn.btn-primary.col-xs-12{:type=>'button'}
        Hide Facts
      #nutrition-facts-wrapper-content
        %h3#nutrition-facts Nutrition Facts
        %table
          %tr
            %th{colspan: 2}
              Amount Per Bowl
              -# ['Saturated fat', '', 'g'], ['Cholesterol', '', 'mg'], ['Sodium', 'sodium-counter', 'g']
          - [['Calories', 'calorie-counter', ''], ['Total Fat', 'total-fat', 'g'], ['Carbohydrates', 'carbohydrates-counter', 'g'], ['Dietary Fiber', 'fiber-counter', 'g'], ['Sugars', 'sugar-counter', 'g'], ['Protein', 'protein-counter', 'g']].each do |label, id, unit|
            %tr.nutrition-info
              %td{class:id}
                %h5
                  = label
                  %span.nutrition-value
                    %span{id:id}  0
                    =unit
        %br
        %h5 The estimated nutritional information is aggregate information per bowl and provided as best effort basis

    #ps-breadcrumbs.col-sm-9
      #current-studio-icon
      %h2#current-studio-name
      =link_to "Submit", '#', id: "ps-submit", class: %w(btn ps-btn-yellow), data:{btn_role: :submit}
      =link_to "Clear All", '#', id: "ps-clear-all", class: %w(btn btn-gray-dark ps-btn-gray)
      .ps-undo-redo
        %button#ps-undo.btn.btn-gray-dark.ps-btn-gray.ps-btn-disabled{data:{"btn-role" => :undo}}
          %i.fa.fa-undo
          &nbsp;Undo
        %button#ps-redo.btn.btn-gray-dark.ps-btn-gray.ps-btn-disabled{data:{"btn-role" => :redo}}
          %i.fa.fa-repeat
          &nbsp;Redo
      =link_to '?', '#', id:"ps-help", data:{"btn-role" => "help"}, class: %w(btn btn-gray-dark btn-circle btn-sm ps-btn-gray)
      .help
    #ps-studio.col-sm-9
      .row#canvas-row
        #pack-drawer.col-sm-4.inactive.drawer-control-right.drawer
          %aside#asset-wrapper
            .row
              %header#title-bar.col-sm-12
                .row#asset-title
                  .col-sm-2
                    .pull-left
                      =link_to 'javascript:void(0);', class: %w(pack-browser-control next-pack pull-left col-sm-2 col-pull-8) do
                        %i.fa.fa-chevron-left
                  .col-sm-8
                    =link_to 'javascript:void(0);', class: %w(pack-browser-control title col-sm-8 col-push-2 dropdown) do
                      #all-packs-drop
                        %span
                          %i.fa.fa-chevron-up.fa-dark
                        %span.title-text All Packs
                  .col-sm-2
                    .pull-right
                      =link_to 'javascript:void(0);', class: %w(pack-browser-control prev-pack pull-right col-sm-2) do
                        %i.fa.fa-chevron-right
            #pack-wrapper.row.is-scrollable
          .drawer-handle
            %span.glyphicon.glyphicon-chevron-right
            %span.glyphicon.glyphicon-chevron-left
          .help
        #ps-desktop
          %canvas#ps-canvas
- # UI templates / Hidden stuff

.ps-ui#ps-ui-templates{data:{"no-turbolink" => true}}

  #welcome-dialog{title: "Welcome to the Photo Shoot"}
    %h1
    %p
      %span
    %p
      %button.ps-btn-yellow
    %br

  #flaunt-dialog{title: "Flaunt Your Style!"}
    .ps-dlg-col
      %div
      =link_to '#' do
        Enter this
        %br
        Week's Contest
    .ps-dlg-col
      %div
      =link_to '#' do
        Set as
        %br
        Avatar
    .ps-dlg-col
      %div
      =link_to '#' do
        Share with
        %br
        Friends

  #thanku-dialog{title:"Your design looks fab!"}
    - if user_signed_in?
      %p.lead Your design was saved to your Photo Gallery!

    #post-save-container.container
      .row
        .col-sm-4
          .ps-dlg-col-img= link_to "javascript:psUI().share();", image_tag( image_url('photoshoot/icon_share_toFriends.png'))
          =link_to "javascript:psUI().share();", "Share with Friends"

  = render 'shared/shared_modal'

  #enter-contest-dialog{title:"Confirm your contest entry!"}

    %p=link_to "#", "Enter Contest", id:"ps-enter-contest-save", data:{"btn-role" => "submit to contest"}, class: %w(btn ps-btn-yellow)
    %p=link_to '#', "No, I'm not ready just yet.", id:"ps-not-ready"

  #avatar-dialog{title:"Set as Avatar"}
    %strong Instructions:
    choose save when you're done cropping!
    .ps-avatar-header
      %button.ps-btn-gray Cancel
      %button.ps-btn-yellow Save
    .ps-avatar-image

  #jsondata-dialog{title:"JSON data representation"}
    %textarea{style: "width: 554px; height: 400px; font: normal 12px monospace;"}
    .center
      %button.ps-btn-yellow Set

= render 'pages/sticker_packs'
= render 'pages/sticker_pack_details'

= content_for :modals do
  #clear-scene-modal.modal.fade
    .modal-dialog
      .modal-content
        .modal-header
          %button.close{type: :button, data:{dismiss: :modal}}
            %span{aria_hidden:true} &times;
            %span.sr-only Close
          %h4.modal-title Clear Your Scene?
        .modal-body
          %p
            Are you sure you want to clear your
            %br
            scene and start from scratch?
        .modal-footer
          %button.btn.btn-default{type: :button, data:{dismiss: :modal}} Cancel
          %button.btn.btn-primary#clear-all{type: :button, data:{dismiss: :modal, "btn-role" => "clear all"}} Clear

  - if studio.getting_started_html.present?
    #getting-started.modal.fade
      .modal-dialog
        .modal-content
          .modal-header
            %button.close{type: :button, data:{dismiss: :modal}}
              %span{aria:{hidden:true}} &times;
              %span.sr-only Close
            %h4.modal-title=studio.name
          .modal-body=studio.getting_started_html.html_safe
          .modal-footer
            %button.btn.btn-primary{type: :button, data:{dismiss: :modal}} Get Started

  -if studio.help_html.present?
    #studio-help.modal.fade
      .modal-dialog
        .modal-content
          .modal-header
            %button.close{type: :button, data:{dismiss: :modal}}
              %span{aria:{hidden:true}} &times;
              %span.sr-only Close
            %h4.modal-title Help
          .modal-body=studio.help_html.html_safe
          .modal-footer
            %button.btn.btn-primary{type: :button, data:{dismiss: :modal}} Close

