- content_for :meta do
  - if @community.present? && @community.user
    = render "shared/community_meta", community:@community
  - else
    = render "shared/question_meta", question: Question.active.last

= render 'hero_unit'
= render 'features'
= render 'works' if ENV['SHOW_HOME_PAGE_FEED'].true?
= render 'contact'
= render 'twitter_stream'
