#listical-show
  %strong= @listical.title
  %br
  - if @listical.header.present?
    = @listical.header.html_safe
    %br
  - @listical.questions.sort_by(&:score).each_with_index do |question, index|
    .voting
      .vote.fa.fa-chevron-up
      .score= question.score
      .vote.fa.fa-chevron-down
    %strong= "#{index+1}. #{h question.title}"
    = h question.body.html_safe
    %br
  - if @listical.footer.present?
    = @listical.footer.html_safe