= simple_form_for [:responses, response] do |f|
  = f.association :question, as: :hidden
  = f.association :user, as: :hidden
  = f.input :type, as: :hidden
  - n = 1
  = f.collection_radio_buttons :choice_id, response.question.choices, :id, :title do |c|
    = c.label do
      .title= c.object.title
      = c.radio_button
      .indicators
        .checkmark
          .glyphicon.glyphicon-ok-circle
        = responsive_image_tag(c.object.image.web.url || image_path("fallback/choice#{n}.png"))
    - n += 1
  = link_to "Skip", question_path(next_question), remote:true, class: %w{btn btn-danger} if next_question
  = f.submit "Submit", data:{disable_with:"Submitting..."}, class: %w{btn btn-success}