= simple_form_for [:responses, response] do |f|
  = f.association :question, as: :hidden
  = f.association :user, as: :hidden
  = f.input :type, as: :hidden
  - n = 1
  = f.collection_radio_buttons :choice, response.question.choices, :id, :title do |c|
    = c.label do
      .title= c.object.title
      .image= image_tag(c.object.image.thumb.url || image_path("fallback/choice#{n}.png"))
      = c.radio_button
    - n += 1
  = f.submit "Submit"