- n = 1
.row
  = form.collection_check_boxes :choice_ids, response.question.choices, :id, :title do |c|
    .title= c.object.title
    = c.check_box label:false
    .indicators
      .checkmark
        .glyphicon.glyphicon-ok-circle
      = responsive_image_tag((c.object.image.web.url || image_path("fallback/choice#{n}.png")), class:"img-responsive")
    - n += 1
