:sass
  .panel-title
    text-align: center
  .blured-background
    position: absolute
    top: 0
    left: 0
    left: -20%
    width: 140%
    min-height: 120%
    z-index: 0
    filter: blur(3px)
    -webkit-filter: blur(30px)
    -moz-filter: blur(30px)
    -o-filter: blur(30px)
    -ms-filter: blur(30px)
    filter: url(blur.svg#blur)
    filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius='6')


  .img-overlay
    z-index: 3
%img.blured-background{src: "http://wallown.com/wp-content/uploads/2014/06/cool_backgrounds_mac_apple.jpg"}
.row#content_constraint
  .col-xs-12.col-sm-8.col-sm-push-2.img-overlay
    .panel.panel-default
      .panel-heading
        .panel-title
          .row
            .col-xs-3.col-sm-2
              =link_to root_path do
                %span.glyphicon.glyphicon-chevron-left
            .col-xs-6.col-sm-8
            .col-xs-3.col-sm-2
              =link_to root_path do
                %span.glyphicon.glyphicon-chevron-right
      .panel-body.response
        .row
          = simple_form_for [:question, setup_response(@response)] do |form|
            = form.association :question, as: :hidden
            = form.association :user, as: :hidden
            = form.input :type, as: :hidden
            = render "response_fields", form:form, response:@response
