.panel.panel-default
  .panel-heading
    .panel-title=@response.question.title
  .panel-body.response
    = simple_form_for [:question, @response] do |form|
      .row
        .col-md-9
          = form.association :question, as: :hidden
          = form.association :user, as: :hidden
          = form.input :type, as: :hidden
          - case @response.question.type
          - when "TextChoiceQuestion"
            = render "text_choice_response", form:form, response:@response
          - when "ImageChoiceQuestion"
            = render "image_choice_response", form:form, response:@response
          - when "MultipleChoiceQuestion"
            = render "multiple_choice_response", form:form, response:@response
          - when "TextQuestion"
            = render "text_response", form:form, response:@response

        .col-md-3.actions.btn-group-vertical
          = link_to "#", class:%w(btn btn-default btn-lg), type: :button, remote:true do
            %span.glyphicon.glyphicon-star
            Like
          = link_to "#", class:%w(btn btn-default btn-lg), type: :button, remote:true do
            %span.glyphicon.glyphicon-cloud-upload
            Share
          = link_to "#", class:%w(btn btn-default btn-lg), type: :button, remote:true do
            %span.glyphicon.glyphicon-send
            Send
          = link_to "#", class:%w(btn btn-default btn-lg), type: :button, remote:true do
            %span.glyphicon.glyphicon-flag
            Flag
          = link_to "#", class:%w(btn btn-default btn-lg), type: :button, remote:true do
            .asked-by
              Asked by
              %br
              = @response.question.user.name
            %div
              %span.glyphicon.glyphicon-resize-small
              Follow
      .row
        .col-md-12
          = form.input :anonymous, wrapper: :vertical_boolean, label: "Make this an anonymous response"
          = form.input :comment, as: :text,:placeholder =>"Comment on your response"
      .row
        .col-md-12.submit
          .row
            .col-md-9.buttons
              - if @next_question
                = link_to new_question_response_path(@next_question), class: %w{btn-link skip} do
                  %span.glyphicon.glyphicon-remove
                  Skip
              = button_tag type: :submit, data:{disable:true}, class: %w(btn-link) do
                Submit
                %span.glyphicon.glyphicon-play
            .col-md-3
