%link{href:@response.question.web_image_url, rel: "image_src"}
%img.blured-background{src: @response.question.web_image_url || image_path("fallback/choice1.png")}
.row#content_constraint{class: @response.question.type}
  - # Make studio questions wider
  .col-xs-12.img-overlay{class:@response.question.kind_of?(StudioQuestion) ? "" : %w(col-sm-8 col-sm-push-2)}
    = simple_form_for [:question, setup_response(@response)], :html=>{class:"panel panel-default"} do |form|
      .panel-heading
        .panel-title
          .row
            .col-xs-3
              - if @show_root_button
                =link_to root_path do
                  %span.glyphicon.glyphicon-chevron-left
            .col-xs-6
            .col-xs-3
              - if @show_skip_button
                =link_to new_question_skipped_item_path(@response.question) do
                  %span.glyphicon.glyphicon-chevron-right
      .panel-body.response
        .row
          %div
            = form.association :question, as: :hidden
            = form.association :user, as: :hidden
            = form.input :type, as: :hidden
            = render "response_fields", form:form, response:@response
