:sass
  .panel-title
    text-align: center
.panel.panel-default
  .panel-heading
    .panel-title
      .row
        .col-xs-3.col-sm-2
          =link_to root_path do
            %span.glyphicon.glyphicon-chevron-left
        .col-xs-6.col-sm-8
        .col-xs-3.col-sm-2
          =link_to root_path do
            %span.glyphicon.glyphicon-chevron-right
  .panel-body.response
    = simple_form_for [:question, setup_response(@response)] do |form|
      = form.association :question, as: :hidden
      = form.association :user, as: :hidden
      = form.input :type, as: :hidden
      = render "response_fields", form:form, response:@response
