.panel.panel-default
  .panel-heading
    .panel-title
      =link_to root_path do
        %span.glyphicon.glyphicon-chevron-left.col-md-11
        %span
      =link_to root_path do
        %span.glyphicon.glyphicon-chevron-right
  .panel-body.response
    = simple_form_for [:question, setup_response(@response)] do |form|
      = form.association :question, as: :hidden
      = form.association :user, as: :hidden
      = form.input :type, as: :hidden
      = render "response_fields", form:form, response:@response
