:sass
  #content_constraint
    button.submit
      border-color: transparent
      background-color: transparent

%link{href:@response.question.web_image_url, rel: "image_src"}
.row.question-response#content_constraint{class: @response.question.type}
  - # Make studio questions wider
  .col-xs-12.img-overlay{class:@response.question.kind_of?(StudioQuestion) ? "" : %w(col-sm-8 col-sm-push-2)}
    = simple_form_for [:question, setup_response(@response)], :html=>{class:"panel panel-default"} do |form|
      .panel-heading
        .panel-title
          .row
            .col-xs-3
              - if @show_root_button
                =link_to root_path do
                  %span < Back
            .col-xs-6
            .col-xs-3
              -#%button.submit.btn.btn-primary.negative.col-xs-12.btn-lg{type: :submit} Submit
      .panel-body.response
        .row
          %div
            = form.association :question, as: :hidden
            = form.association :user, as: :hidden
            = form.input :type, as: :hidden
            = render "response_fields", form:form, response:@response
- content_for :meta do
  = render "shared/question_meta", question: @response.question
