:sass
  .image-preview
    max-height: 100px

= semantic_form_for [:admin, @image_choice.question, @image_choice] do |f|
  = f.inputs f.object.type do
    = f.input :title, as: :string
    - if @image_choice.persisted?
      = f.semantic_fields_for :background_image do |bi|
        = bi.input :image, as: :file, image_preview: true
        = bi.input :image_cache, as: :hidden
    - else
      = f.input :background_image, hint: "For a custom image, save this choice then edit it to upload a new image"
    = f.input :position
    = f.input :rotate
    = f.input :muex
  = f.actions