= render partial: 'surveys/responsive_rectangle/vote'
- content_for :between_buttons do
  - question.ordered_choices_for(cookie_user).each_with_index do |c, i|
    %div{class: "image-choice index-#{i}", data: {index: i, choice_id: c.id, image: meta_data_for(c.background_image)}}
      - if !answer
        .overlay
      - else
        - ratio = (c.response_ratio * 100).to_i
        %div.bar-blue{data: {response: ratio}, style: "background-color: #{@survey.theme.color1}"}
          .bar-graph{style: "background-color: #{@survey.theme.color2}"}
          .bar-selected
          .bar-response
      .spacer
      .text= c.title

- unless answer
  - content_for :below_buttons do
    - url = qp_create_response_url(@survey.uuid, @ad_unit.name, question)
    = form_tag url, target: '_self', id: 'multiple-choice-form', data: {min: question.min_responses, max: question.max_responses} do
      = hidden_field_tag 'response[original_referrer]', original_referrer
      .bar{style: "background-color: #{@survey.theme.color1}"}
        %button#multiple-choice-submit{type:'submit'}= 'Submit'
