.col-md-2
.col-md-8
  .yesno.panel.panel-default
    .panel-heading
      .panel-title
        =link_to question_types_path do
          %span.glyphicon.glyphicon-chevron-left
    .panel-body
      = simple_form_for @question do |f|
        .hidden
          - canned_question_image_urls.each_with_index do |url, index|
            .canned{class: index}=image_path url
          .index= f.input :image_index, as: :hidden
          = f.input :type, as: :hidden
        .row
          .col-sm-6
            .question
              .title=f.input :title, label: false, placeholder: "Type your question here"
              .bgimage= responsive_image_tag image_path canned_question_image_urls[@question.image_index], class: "img-responsive"
          .col-md-6
            = f.simple_fields_for :choices do |c|
              .answer.well
                =c.input :title, label: false, placeholder: "Type a response"
        .row
          .col-md-6
            .well
              <Image manipulation tools>
              =link_to '#', class: :prev_image do
                %span.glyphicon.glyphicon-chevron-left
              =link_to '#', class: :next_image do
                %span.glyphicon.glyphicon-chevron-right
          .col-md-6
            .well
              =f.association :category
              =f.input :rotate
        .row
          .col-md-6
            .btn-group.btn-group-justified
              =link_to "Preview", '#', class: %w(btn btn-primary)
          .col-md-6
            .btn-group.btn-group-justified
              = f.button :submit, "Continue", class: %w(btn-block)
