%footer#footer
  .container
    .row
      .recent-questions.col-md-4
        %h2 Recent Questions
        - @recent_questions.each do |q|
          .row
            - modal_id = "footer-modal-#{q.id}"
            .modal.fade.modal-blur{id:modal_id, role: :dialog, style: "display: none;", tabindex: "-1"}
              .modal-dialog.modal-sm
                .modal-content
            = link_to question_path(q), "data-toggle" => "modal", "data-target" => "##{modal_id}", role: :dialog, "data-id" => q.id, class: :mask, id: :open do
              .col-md-2.thumb= image_tag q.category.icon.url
              .col-md-10
                .date= q.created_at.strftime("%a, %d %b")
                .title= q.title
                %br
      .col-md-4
        %h2 Contact
        #inquiry= render "inquiries/form"
      .nav.col-md-4
        %h2 More
        = render_navigation context: :footer
    .row.credits
      .col-md-12
        .row.copyright
          .col-md-12
            © 2014 Crashmob. All rights reserved.