%footer#footer.section
  .container
    %p.copyright.pull-left &copy; 2014. Statisfy, Inc. All Rights Reserved.
    %p.copyright.pull-right
      = link_to "Home", root_path
      |
      = link_to "Get the App", get_the_app_path
      |
      = link_to "Sign Up", new_user_registration_path
      |
      = link_to "Login", new_user_session_path
      |
      = link_to "Help", 'http://about.statisfy.co/webfaq/'
      |
      = link_to "Contact Us", 'http://about.statisfy.co/contactus/'
      |
      = link_to "Blog", 'http://blog.statisfy.co/blog'
      |
      = link_to "For Business", 'http://business.statisfy.co/'
      |
      = link_to "Terms and Privacy", 'http://about.statisfy.co/tos/'
      |
      = link_to "Brand Representatives", 'http://about.statisfy.co/campus-ambassador-program/'
      |
      = link_to "For Communities", 'http://about.statisfy.co/for-communities/'
      |
      = link_to "For Events", 'http://about.statisfy.co/for-event-planners/'
      |
      = link_to "Embeddable Polls", 'http://about.statisfy.co/embeddable-polls/'

