= simple_form_for @enterprise_target, url:question_enterprise_targets_path(@question, @enterprise_target), html: {id: :xcontent_constraint} do |f|
  = f.association :user, as: :hidden
  .panel.panel-default
    .panel-heading
      .panel-title
        .row
          .col-xs-12
            %h3 Campaign Targeting

    .panel-body
      .row
        %h2.body_title.text-center
          Choose who you would like to target.
        .col-xs-12
          .form-group
            %label Age
            #age-range
        .col-xs-6
          .form-group
            = f.input :min_age, class: 'form-control'
        .col-xs-6
          .form-group
            = f.input :max_age, class: 'form-control'
        .col-xs-12
          .form-group
            = f.label :gender, class: 'control-label'
            .radio
              %label
                = f.radio_button :gender, 'male'
                Men
              %label
                = f.radio_button :gender, 'female'
                Women
              %label
                = f.radio_button :gender, 'both'
                Both
        .col-xs-12
          .form-group
            =f.collection_check_boxes :segment_ids, @enterprise_target.user.segments, :id, :name, item_wrapper_class: %w(checkbox)
        .col-xs-12
          .form-group
            =f.button :submit, "Publish", class: %w(btn-primary btn-lg)

:javascript
  $(function() {
    function renderAge(evt, ui) {
      var minAge = $('#age-range').slider('values', 0),
          maxAge = $('#age-range').slider('values', 1);

      $('#enterprise_target_min_age').val(minAge);
      $('#enterprise_target_max_age').val(maxAge);
    }

    $('#age-range').slider({
      range: true,
      min: 0,
      max: 200,
      values: [14, 99],
      slide: renderAge
    });

    renderAge();
  });
