.question-response{class: @response.question.type}
  = simple_form_for [:question, setup_response(@response)] do |form|
    = form.association :question, as: :hidden
    = form.association :user, as: :hidden
    = form.input :type, as: :hidden
    = render "embeddable_units/response_fields", form:form, response:@response
