- if current_embed_user.quantcast_demographic_required?
  = render partial: 'quantcast_js'

:javascript
  var next = function(){document.getElementById('next').click();};
  setTimeout(next, 3*1000);

- next_url = next_question_url(@question)

- # We only support ImageChoiceQuestions with exactly 2 choices
- unless @question.kind_of?(ImageChoiceQuestion) && @question.choices.count == 2
  #error "Unsupported question type for embeddable units"
  = link_to "Next", next_url, target: "_self"
- else
  .summary
    .title.resize
      .table
        .cell=@question.title
    .back

    - @question.choices.each do |c|
      .choice{class: @response.choice.id == c.id ? :selected : nil}
        .checkmark
        %label
          - choice_image = c.web_image_url || image_path("fallback/choice#{n}.png")
          = responsive_image_tag(choice_image, class: "img-responsive", style:"width: 125px; height: 125px;")
          .graph{data:{percentage: 100 * c.response_ratio}}
            .bar-line
            .percentage
          .subtitle
            .table
              .cell=c.title

    #next-button.next.prominent
      = link_to next_url, target: "_self", id: "next" do
        = image_tag image_path("embed/next.png")

    .footer
      .share
      .logo
