<% first_question = @survey.questions.first
   facebook_url = "https://facebook.com/sharer.php?#{{t: first_question.title, u: @referrer}.to_query}"
   twitter_url = "https://twitter.com/intent/tweet?#{{text: "#{first_question.title} - #{@referrer}"}.to_query}"
%>
<style>
  .polls {
    background-color: rgb(38, 145, 217);
    color: white;
    font-family: roboto-medium;
    font-size: 12px;
    height: 185px;
    padding: 10px 15px 0 15px;
  }

  .polls div:first-child {
    margin-bottom: 5px;
  }

  .poll {
    text-transform: uppercase;
    line-height: 1;
    margin-bottom: 3px;
    height: 50px;
    width: 270px;
    background-color: rgba(255, 255, 255, 0.2);
    cursor: pointer;
  }

  .poll img {
    width: 50px;
    margin: 0;
    float: left;
    display: inline-block;
  }

  .poll a:hover {
    color: #d1d3d4;
  }

  .poll a {
    font-size: 15px;
    float: right;
    width: 200px;
    font-weight: 500;
    overflow: hidden;
    margin: 0;
    display: inline-block;
    height: 30px;
    padding: 10px 10px 0 5px;
    color: white;
    text-decoration: none;
  }

  .up-menu {
    padding: 10px 5px;
    font-size: 13px;
    font-family: roboto-medium;
    color: #414042;
    font-weight: 100;
    height: 15px;
  }

  .up-menu .action-icon {
    height: 21px !important;
    width: 21px !important;
    margin-right: 4px !important;
    background-size: 21px 21px !important;
  }

  .follow-tumblr {
    min-width: 61px;
    min-height: 21px;
  }

  .create-survey {
    float: left;
    text-decoration: none;
    color: #414042;
    margin-left: 10px;
  }

  .up-menu .close-button {
    background-color: #ececec !important;
    color: #414042 !important;
  }

</style>
<div class="up-menu">
  <span style="float: left; margin-right: 4px">Share</span>
  <a class="action-icon tumblr" onclick="openTumblr()"></a>
  <a class="action-icon twitter" onclick="window.open('<%= twitter_url %>', '','width=600,height=400')" target="_blank"></a>
  <a class="action-icon facebook" onclick="window.open('<%= facebook_url %>', '','width=600,height=400')" target="_blank"></a>
  <a class="create-survey" href="<%= ENV['WEB_APP_URL'] %>/#/app/questions/new">Create</a>&nbsp;
  <a href="<%= ENV['WEB_APP_URL'] %>/#/app/questions/new" style="text-decoration: none; margin-right: 10px">
    <img src="<%= asset_path 'ad_units/header-create.png' %>" width="21" height="21"/>
  </a>
  <a href="http://www.tumblr.com/follow/gostatisfy" class="follow-tumblr">
    <img src="<%= asset_path 'ad_units/follow-tumblr.png' %>" width="61" height="21"/>
  </a>
  <a href="<%= qp_start_url(@survey.uuid, @ad_unit.name) %>" target="_self" id="embed-close" class="close-button">x</a>
</div>
<div class="polls">
  <div style="text-align: center">See Related Posts</div>
  <% @sample_surveys.each do |survey| %>
    <% question = survey.questions.first %>
    <div class="poll">
      <img width="50" height="50" src="<%= question.background_image.device_image_url %>"/>
      <a target="_blank" href="<%= survey.referrer %>"><%= question.title %></a>
    </div>
  <% end %>
</div>