<% first_question = @survey.questions.first %>
<style>
  .gwd-img-8rdd {
    position: absolute;
    left: 0px;
    top: 0px;
  }

  .gwd-div-3umj {
    position: absolute;
    font-family: 'Times New Roman';
    text-align: left;
    color: rgb(0, 0, 0);
    width: 300px;
    opacity: 0.85;
    height: 233px;
    border-image-source: none;
    border-color: rgb(0, 0, 0);
    left: 0px;
    top: 0px;
    background-image: none;
    background-color: rgb(255, 255, 255);
  }

  .button-share {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid rgb(24, 49, 64);
    padding: 8px 21px;
    border-radius: 30px;
    color: black !important;
    text-shadow: rgb(126, 164, 189) 0px 1px 0px;
    font-family: 'Open Sans';
    text-align: left;
    text-decoration: none;
    width: 170px;
    height: 20px;
    font-size: 14px;
    left: 41px;
    top: 88.5px;
    background: none rgb(255, 255, 255);
  }

  .button3 {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid rgb(24, 49, 64);
    padding: 8px 21px;
    border-radius: 30px;
    text-shadow: rgb(126, 164, 189) 0px 1px 0px;
    font-family: 'Open Sans';
    text-decoration: none;
    font-size: 15px;
    color: rgb(0, 0, 0);
    height: 16px;
    width: 120px;
    left: 72px;
    top: 194.5px;
    background: white;
  }

  .button1 {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid rgb(24, 49, 64);
    padding: 8px 21px;
    border-radius: 30px;
    text-shadow: rgb(126, 164, 189) 0px 1px 0px;
    font-family: 'Open Sans';
    text-decoration: none;
    left: 69px;
    top: 163px;
    width: 170px;
    color: rgb(0, 0, 0);
    font-size: 15px;
    background: rgb(38, 146, 217);
  }

  .follow {
    -webkit-filter: drop-shadow(black 1px 1px 0px) drop-shadow(black -1px -1px 0px);
  }

  .button1:hover {
    border: 1px solid rgb(10, 60, 89);
    text-shadow: rgb(30, 65, 88) 0px 1px 0px;
    background: rgb(103, 179, 229);
  }

  .gwd-img-2okp {
    position: absolute;
    left: 62px;
    top: 184px;
  }

  .gwd-div-512s {
    text-align: center;
  }

  .gwd-a-drjd {
  }

  .gwd-a-ve6x {
    left: 40.5px;
    top: 134px;
    height: 20px;
  }

  .gwd-body {
    background-color: transparent;
  }

  .gwd-span-ktqh {
    color: rgb(255, 255, 255);
  }

  .gwd-div-j5nd {
    position: absolute;
    width: 216px;
    height: 29px;
    font-family: 'Open Sans';
    text-align: left;
    font-size: 23px;
    color: rgb(0, 0, 0);
    border-image-source: none;
    border-color: rgb(0, 0, 0);
    left: 58px;
    top: 48px;
    background-image: none;
  }

  .gwd-span-3p0b {
    font-family: 'Open Sans';
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    -webkit-transform-style: preserve-3d;
    color: rgb(0, 0, 0);
    font-weight: bold;
  }

  .gwd-img-xwsz {
    position: absolute;
    left: 70px;
    top: 141.05px;
  }

  .tumblrshare {
    position: absolute;
    left: 65.899999999648px;
    top: 139.2px;
  }

  .gwd-a-imw7 {
    left: 49.1px;
    top: -45px;
  }

  .twittershare {
    position: absolute;
    left: 160.899999999648px;
    top: 93.7px;
  }

  .gwd-a-imw8 {
    left: 153.34999999982px;
    top: 94.15px;
  }

  .fbshare {
    position: absolute;
    left: 193.899999999648px;
    top: 93.7px;
  }

  .gwd-a-imw9 {
    left: 191.5px;
    top: 94px;
  }

  .gwd-span-e0gy {
    color: rgb(255, 255, 255);
  }
</style>
<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css">

<div class="gwd-body">
  <img src="https://trello-attachments.s3.amazonaws.com/5554f0b0da69177665026cbd/299x251/1210222638e27873d934f39b46251060/question-exampe.jpg" class="gwd-img-8rdd">
  <div class="gwd-div-3umj editable"></div>
  <a class="button-share">Share</a>
  <a href="http://<%= app_host %>/#/app/questions/new" class="button1 gwd-a-ve6x">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<span class="gwd-span-e0gy">Create your own</span></a>
  <a href="http://www.tumblr.com/follow/gostatisfy" class="follow">
    <img src="<%= asset_path 'embed/follow-tumblr.png' %>"
         class="gwd-img-2okp" -webkit-filter:="" "drop-shadow(1px="" 1px="" 0="" black)="" drop-shadow(-1px="" -1px=""
    black)";="" filter:="" black)"="">
  </a>

  <div class="gwd-div-j5nd"><span class="gwd-span-3p0b">Did you have fun?</span>
  </div>
  <div></div>
  <img src="https://trello-attachments.s3.amazonaws.com/5554f0b0da69177665026cbd/24x23/374ecc50f1e4c1da0bb5eef5c6488990/create.png" class="gwd-img-xwsz">
  <a class="tumblrshare gwd-a-imw7"
     href="javascript:window.open('http://www.tumblr.com/share?v=3&u=<%= request.referer %>&t=hello', '_blank', 'width=400,height=500');void(0);">
    <img src="https://trello-attachments.s3.amazonaws.com/5554f0b0da69177665026cbd/27x27/b63a8c821fc2c67ec3eab0900f06fca7/tumblr.png" class="tumblrshare">
  </a>
  <a class="twittershare gwd-a-imw8" href="javascript:window.open('https://twitter.com/share?text=<%= first_question.title %>-%20<%= request.referer %>', '_blank', 'width=400,height=500');void(0);">
    <img src="https://trello-attachments.s3.amazonaws.com/5554f0b0da69177665026cbd/27x27/9f14da3bfe45197a616cc97f9fd89073/twitter.png">
  </a>
  <a class="fbshare gwd-a-imw9" href="javascript:window.open('https://www.facebook.com/sharer/sharer.php?u=<%= request.referer %>' , '_blank', 'width=400,height=500');void(0);">
    <img src="https://trello-attachments.s3.amazonaws.com/5554f0b0da69177665026cbd/27x27/599ace80a70b30e4d823b932b52af9d7/facebook.png">
  </a>
</div>