#footer
  - first_question = @survey.questions.first
  - facebook_url = "https://facebook.com/sharer.php?#{{t: first_question.title, u: @referrer}.to_query}"
  - twitter_url = "https://twitter.com/intent/tweet?#{{text: "#{first_question.title} - #{@referrer}"}.to_query}"

  %a.logo{href: 'http://www.statisfy.co/'}
  - question = @response.present? ? @response.question : @question
  - if question.present?
    %span.answers-count{style: "background-color: #{@survey.theme.color1}"}
      = pluralize question.response_count, 'answer'

  %a.action-icon.tumblr.tooltip{title: 'SHARE ON TUMBLR', onclick: 'openTumblr()'}
  %a.action-icon.twitter.tooltip{title: 'SHARE ON TWITTER', onclick: "window.open('#{twitter_url}', '','width=600,height=400')", target: 'popup'}
  %a.action-icon.facebook.tooltip{title: 'SHARE ON FACEBOOK', onclick: "window.open('#{facebook_url}', '','width=600,height=400')", target: 'popup'}
  %a.action-icon.embed#embed-icon.tooltip{title: 'EMBED', href: '#embed'}
  %a.action-icon.create.tooltip{title: 'CREATE SURVEY', href: "#{ENV['WEB_APP_URL']}/#/app/questions/new"}
:javascript
  function openTumblr() {
    var tumblrOverlay = $('#tumblr-overlay');
    if (tumblrOverlay.css('display') === 'none') {
      tumblrOverlay.css('display', 'initial');
    } else {
      tumblrOverlay.css('display', 'none');
    }
  }
