- question ||= nil
- response ||= nil
- original_referrer ||= nil

#viewed.hidden{data: {url: qp_question_viewed_url(@survey.uuid, @ad_unit.name, @question)}}
:coffee
  interval = setInterval ->
      if window.jQuery
        $ ->
          $.post $("#viewed").data().url
        clearInterval(interval)
    , 50

- content_for :script do
  - if ENV['GOOGLE_ANALYTICS_ID'].present?
    :javascript
      ga('send', 'event', 'embeddable', 'view', '#{@question.id}', 3);

    - if responding?
      :javascript
        ga('send', 'event', 'embeddable', 'response', '#{@question.id}', 3);

= render partial: 'quantcast_js' if response && current_ad_unit_user.quantcast_demographic_required?

:css
  .main-color {
    color: #{@survey.theme.main_color} !important;
  }
  .main-color-bg {
    background-color: #{@survey.theme.main_color} !important;
  }
  .color1 {
    color: #{@survey.theme.color1} !important;
  }
  .color1-bg {
    background-color: #{@survey.theme.color1} !important;
  }
  .color2 {
    color: #{@survey.theme.color2} !important;
  }
  .color2-bg {
    background-color: #{@survey.theme.color2} !important;
  }
= render survey_question_template(@ad_unit.name, question), answer: response, question: question, original_referrer: original_referrer
