- first_question = @survey.questions.first
- tumblr_url = "http://www.tumblr.com/share?v=3&#{{u: @referrer}.to_query}&t=#{first_question.title}"
#tumblr-overlay
  .title
    = image_tag asset_path('embed/tumblr_logo.png'), height: 25, width: 115
  .buttons-container
    %a#open-popup.link-button{href: "javascript:window.open(\"#{tumblr_url}\", '_blank', 'width=400,height=500');void(0);"}
      = image_tag asset_path 'embed/blog-this.png'
      %br
      Blog this
    %a.link-button(href="#{ENV['WEB_APP_URL']}/#/app/questions/new")
      = image_tag asset_path 'embed/create-big.png'
      %br
      Create your
      %br
      own poll