!!!
/[if IE 8] <html class="ie8">
/[if IE 9] <html class="ie9 gt-ie8">
:plain
  <!--[if gt IE 9] -->
%html.gt-ie8.gt-ie9.not-ie
  / <![endif]
  %head
    %title= full_title(yield(:title))

    %meta{"http-equiv" => "Content-Type", content: "text/html; charset=utf-8"}
    = yield :meta if content_for :meta

    = csrf_meta_tags

    / Open Sans font from Google CDN
    %link{href: '//fonts.googleapis.com/css?family=Roboto:500,700,400', rel: 'stylesheet', type: 'text/css'}/
    %base{target: "_blank"}

    = stylesheet_link_tag "ad_unit", media: "all", data: { turbolinks_track: true }

    = render partial: 'js_config'
    = javascript_include_tag "ad_unit", data: { turbolinks_track: true }

    = render 'surveys/analytics'
    = render 'layouts/shared/tag_manager'
    = yield(:script)

  %body{class: @ad_unit.name}
    #content
      = render partial: 'tumblr'
      = render partial: 'embed'

      #title.textfill
        %h1.resize
          .title
            .table
              .cell
                =@question.try :title

      = yield
      #question{class: question_class}
        #between-buttons
          - if @response && prev_path = previous_question_path(@question)
            %a#back-button.nav-button{target: '_self', href: prev_path}
              .icon= image_tag 'ad_units/arrow-left.svg'
          - else
            #back-button.nav-button.disabled

          - if @response
            %a#next-button.nav-button{target: '_self', href: next_question_path(@question)}
              .icon= image_tag 'ad_units/arrow-right.png'
          - else
            #next-button.nav-button.disabled

          - if content_for?(:between_buttons)
            #between-button-content= yield(:between_buttons)
        - if content_for?(:below_buttons)
          #below-buttons= yield(:below_buttons)

        .clearfix

      = render partial: 'footer'

    = debug(params) if Rails.env.development?
