!!!
/[if IE 8] <html class="ie8">
/[if IE 9] <html class="ie9 gt-ie8">
:plain
  <!--[if gt IE 9] -->
%html.gt-ie8.gt-ie9.not-ie
  / <![endif]
  %head
    %title= full_title(yield(:title))

    %meta{"http-equiv" => "Content-Type", content: "text/html; charset=utf-8"}
    = yield :meta if content_for :meta

    = csrf_meta_tags

    / Open Sans font from Google CDN
    %link{href: 'http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,300,700,600:latin', rel: 'stylesheet', type: 'text/css'}/
    %base{target: "_blank"}

    = stylesheet_link_tag "ad_unit", media: "all", data: { turbolinks_track: true }

    = render partial: 'js_config'
    = javascript_include_tag "ad_units/#{@ad_unit.name}/base", data: { turbolinks_track: true }

    = render 'surveys/analytics'
    = render 'layouts/shared/tag_manager'

    - if ENV['GOOGLE_ANALYTICS_ID'].present?
      :javascript
        ga('send', 'event', 'embeddable', 'end', "#{@survey.id}", 3);

    = yield(:script)
    :coffee
      $ ->
        data = $('#thank-you-message').data()
        if data
          $('#thank-you-message').html localStorage[data.uuid]
          localStorage.removeItem data.uuid

  %body{class: @ad_unit.name}
    #content
      = render partial: 'tumblr'
      - if @survey.thank_you_message_exist?
        = render partial: 'embed'
        #thank-you
          %a#thank-you-close.close-button{href: qp_start_url(@survey.uuid, @ad_unit.name), target: '_self'} x
          #thank-you-message{data: {uuid: @survey.uuid, html: @survey.parsed_thank_you_html({}).html_safe}}
      - else
        = render partial: 'embed'
        = render partial: 'default_thank_you'

      = render partial: 'footer'

    = debug(params) if Rails.env.development?
