= form_for :listicle, url: advanced_form_listicle_path(current_user, @listicle), method: 'PATCH' do |form|
  = hidden_field_tag :listicle_id, @listicle.id
  = render partial: 'listicles/theme_editor', locals: {form: form, listicle: @listicle}
  = text_area_tag :advanced_text, advanced_template_text(@listicle), rel: 'redactor'
  = submit_tag 'Save', class: 'btn btn-success', style: 'margin: 20px auto 20px; display: block; width: 150px'