%a#theme-editor.btn
  %i.fa.fa-cog.fa-2x
#theme-editor-modal.modal.fade(role="dialog" style="display: none;" tabindex="-1")
  %div.modal-dialog.modal-lg.animated.pulse
    .modal-content
      .modal-header
        %button.close{'aria-hidden' => 'true', 'data-dismiss' => 'modal', :type => 'button'} ×
        %h4.modal-title Edit Question
      .modal-body
        %h2 General
        %hr
        = form.text_field :item_separator_color, value: color(listicle, :item_separator), class: 'form-control minicolor-input', style: 'width: 300px; height: 30px'
        &nbsp;
        = form.label :item_separator_color, 'Item Separator'
        %br
        %br
        = form.text_field :vote_count_color, value: color(listicle, :vote_count), class: 'form-control minicolor-input', style: 'width: 300px; height: 30px'
        &nbsp;
        = form.label :vote_count_color, 'Vote Count'
        %h2 Arrows
        %hr
        = form.text_field :arrows_default_color, value: color(listicle, :arrows_default), class: 'form-control minicolor-input', style: 'width: 300px; height: 30px'
        &nbsp;
        = form.label :arrows_default_color, 'Default'
        %br
        %br
        = form.text_field :arrows_on_hover_color, value: color(listicle, :arrows_on_hover), class: 'form-control minicolor-input', style: 'width: 300px; height: 30px'
        &nbsp;
        = form.label :arrows_on_hover_color, 'On Hover'
        %br
        %br
        = form.text_field :arrows_selected_color, value: color(listicle, :arrows_selected), class: 'form-control minicolor-input', style: 'width: 300px; height: 30px'
        &nbsp;
        = form.label :arrows_selected_color, 'Selected'