.panel
  .panel-heading
    %h2.panel-title
      .row
        .col-sm-6
          Listicle Details
        .col-sm-6.text-right-not-xs
          = link_to 'Analytics', listicle_analytics_path(current_user, @listicle), class: %w(btn btn-sm btn-success btn-labeled)
          = link_to new_listicle_path(current_user), class: %w(btn btn-sm btn-primary btn-labeled) do
            %span.btn-label.fa.fa-plus
            Create Listicle
  .panel-body
    %table.table
      %thead
        %tr
          %th
            LISTICLE ID
          %th
            NAME
      %tbody
        %tr
          %td= @listicle.id
          %td= limit_text text_from_html(@listicle.get_intro)
.row
  .col-md-4
    .panel
      .panel-body
        = render partial: 'users/dashboard/publisher/behavioural_panel', locals: {report: @report[:behavioural]}
  .col-md-4
    .panel
      .panel-body
        = render partial: 'users/dashboard/publisher/emotional_panel', locals: {report: @report[:emotional]}
  .col-md-4
    .panel
      .panel-body
        = render partial: 'users/dashboard/publisher/cognitive_panel', locals: {report: @report[:cognitive]}
.panel
  .panel-heading
    %h2.panel-title
      .row
        .col-sm-6 Distribution
        .col-sm-6.text-right-not-xs
          = link_to 'Download .csv', 'javscript:void(0)', class: 'btn btn-primary', id: 'distribution-csv'
  .panel-body
    %table.table#distributions
      %thead
        %tr
          %th
            URL
      %tbody
        - @listicle.deployments.each do |distribution|
          %tr
            %td= link_to distribution, distribution
  :coffeescript
    $('#distribution-csv').click ->
      csvContent = "data:text/csv;charset=utf-8,"
      $('#distributions td a').each (_, el)-> csvContent += $(el).attr('href') + '\n'
      encodedUri = encodeURI(csvContent);
      window.open(encodedUri);
.panel
  .panel-heading
    %h2.panel-title
      Listicle Item Details
  .panel-body
    %table.table
      %thead
        %tr
          %th Item ID
          %th Item Title
          %th Views
          %th Upvotes
          %th Downvotes
          %th Total
          %th Net Clicks
          %th
      %tbody 
        - total_upvotes = 0
        - total_downvotes = 0
        - total_votes = 0
        - net_votes = 0
          - @listicle.questions.sort_by{|q| -q.score}.each_with_index do |question, idx|
          %tr
            %td= question.id
            %td{id: "question-#{question.id}-title"}= question.body.present? ? question.title : "Item #{idx + 1}"
            %td= @listicle.view_count
            %td= question.up_votes_count
            -total_upvotes +=question.up_votes_count
            %td= question.down_votes_count
            -total_downvotes+=question.down_votes_count 
            %td= question.total_votes
            -total_votes = total_upvotes - total_downvotes
            %td= question.net_votes            
            -net_votes = total_upvotes + total_downvotes
            %td
              = link_to 'Add script', edit_listicle_question_path(current_user, @listicle, question),
              class: 'btn btn-success add-script-button'
        %tr 
          %td 
            %strong Total
          %td 
          %td= @listicle.view_count
          %td= total_upvotes
          %td= total_downvotes
          %td= total_votes  
          %td= net_votes
          %td 
.panel
  .panel-heading
    %h2.panel-title
      Listicle Preview
  .panel-body
    = link_to show_listicle_path(@listicle), class: 'preview-button' do
      Preview
      &nbsp;
      %i.fa.fa-eye
    %pre
      = "<div style=\"height: 600px; width: 640px;\"><iframe width=\"640\" height=\"600\" src=\"#{show_listicle_path(@listicle)}\" frameborder='0' ></iframe></div>"
#dialog.modal.fade(role="dialog" style="display: none;" tabindex="-1")
  %div.modal-dialog.modal-sm.animated.pulse
    .modal-content
      .modal-header
        %button.close{'aria-hidden' => 'true', 'data-dismiss' => 'modal', :type => 'button'} ×
        %h4.modal-title Edit Listicle Item
      .modal-body
