.panel
  .panel-heading
    %h2.panel-title
      Listicle Details
  .panel-body
    %table.table
      %thead
        %tr
          %th Item ID
          %th Item Title
          %th Views
          %th Upvotes
          %th Downvotes
          %th Total Votes
          %th Net Votes
          %th
      %tbody      
        - total_view_count = 0          
        - total_upvotes = 0
        - total_downvotes = 0
        - total_votes = 0
        - net_votes = 0
          - @listicle.questions.sort_by{|q| -q.score}.each_with_index do |question, idx|
          %tr
            %td= question.id
            %td{id: "question-#{question.id}-title"}= question.body.present? ? question.title : "Item #{idx + 1}"
            %td= @listicle.view_count
            -total_view_count += @listicle.view_count
            %td= question.up_votes_count
            -total_upvotes +=question.up_votes_count
            %td= question.down_votes_count
            -total_downvotes+=question.down_votes_count 
            %td= question.total_votes
            -total_votes = total_upvotes - total_downvotes
            %td= question.net_votes
            -net_votes = total_upvotes + total_downvotes
            %td Error
            /link_to 'Add script', edit_listicle_question_path(current_user, @listicle, question),
            /class: 'btn btn-success add-script-button'
        %tr 
          %td 
            %strong Total
          %td 
          %td
            %strong= total_view_count
          %td
            %strong= total_upvotes
          %td
            %strong= total_downvotes
          %td
            %strong= total_votes  
          %td
            %strong= net_votes
          %td 

#dialog
