.panel
  .panel-heading
    %h2.panel-title
      .row
        .col-sm-6 LISTICLES MANAGEMENT
.table-primary
  %table.table.table-striped.table-bordered#campaigns{cellpadding:0, cellspacing:0, border:0}
    %thead
      %tr
        %th.bg-success These are all of your listicles
#listicles
  - @listicles = [nil] + @listicles.to_a
  - @listicles.each_slice(3).each_with_index do |listicles, i|
    .row
      - listicles.each_with_index do |listicle, j|
        .col-md-4
          .panel
            - if i == 0 && j == 0
              .panel-heading
                %span.panel-title
                  &nbsp;
              .panel-body(style="height: 220px;")
                = link_to new_listicle_path(current_user), id: 'new-listicle' do
                  %i.fa.fa-2x.fa-plus
                  %br
                  New Listicle
            - else
              .panel-heading
                %span.panel-title
                  = link_to text_or_empty_symbol(limit_text(text_from_html(listicle.get_intro), 25)),
                  show_listicle_url(listicle, preview: true), target: '_blank', class: 'listicle-title preview-button'
              .panel-body
                = link_to show_listicle_url(listicle, preview: true), target: '_blank', class: 'preview preview-button' do
                  - listicle.questions.each do |question|
                    = h question.body.html_safe
              .panel-heading.bottom
                = link_to edit_listicle_path(current_user, listicle) do
                  %i.fa.fa-pencil.fa-lg
                = link_to show_listicle_url(listicle, preview: true), class: 'preview-button' do
                  %i.fa.fa-eye.fa-lg
                = link_to show_listicle_url(listicle), class: 'embed-code' do
                  %i.fa.fa-code.fa-lg
                = link_to details_listicle_path(current_user, listicle) do
                  %i.fa.fa-info.fa-lg
                = link_to listicle_analytics_path(current_user, listicle) do
                  %i.fa.fa-pie-chart.fa-lg
                = link_to listicle_path(current_user, listicle), method: :delete, data: {confirm: 'Do you want to remove this listicle?'} do
                  %i.fa.fa-trash-o.fa-lg
  #dialog