.panel
  .panel-heading
    %h2.panel-title
      .row
        .col-sm-6 LISTICLES MANAGEMENT
        .col-sm-6.text-right-not-xs
          =link_to new_listicle_path(current_user), class: %w(btn btn-sm btn-primary btn-labeled) do
            %span.btn-label.fa.fa-plus
            Create Listicle
.table-primary
  %table.table.table-striped.table-bordered#campaigns{cellpadding:0, cellspacing:0, border:0}
    %thead
      %tr
        %th.bg-success These are all of your listicles
#listicles
  - @listicles = [nil] + @listicles.to_a
  - @listicles.each_slice(3).each_with_index do |listicles, i|
    .row
      - listicles.each_with_index do |listicle, j|
        .col-md-4
          .panel
            - if i == 0 && j == 0
              .panel-heading
                %span.panel-title
                  &nbsp;
              .panel-body
                = link_to new_listicle_path(current_user), id: 'new-listicle' do
                  %i.fa.fa-2x.fa-plus
                  %br
                  New Listicle
            - else
              .panel-heading
                %span.panel-title
                  = link_to text_or_empty_symbol(limit_text(text_from_html(listicle.get_intro), 25)),
                  show_listicle_url(listicle), target: '_blank', class: 'listicle-title'
                .panel-heading-controls
                  .btn-group.btn-group-xs
                    %button.btn.btn-info.dropdown-toggle{type: 'button', 'data-toggle' => 'dropdown'}
                      %i.fa.fa-gear
                    %ul.dropdown-menu.dropdown-menu-right
                      %li.dropdown-header
                        Menu
                      %li.divider
                      %li
                        = link_to 'Edit', edit_listicle_path(current_user, listicle)
                      %li
                        = link_to 'View', show_listicle_url(listicle), class: 'preview-button'
                      %li
                        = link_to 'Get Code', show_listicle_url(listicle), class: 'embed-code'
                      %li
                        = link_to 'Show details', details_listicle_path(current_user, listicle)
                      %li
                        = link_to 'Delete', listicle_path(current_user, listicle), method: :delete, data: {confirm: 'Do you want to remove this listicle?'}
              .panel-body
                %a.preview{href: edit_listicle_path(current_user, listicle), target: '_blank'}
                - listicle.questions.each do |question|
                  = h question.body.html_safe
  #dialog