.panel
  .panel-heading
    %h2.panel-title
      .row
        .col-sm-6 LISTICLES MANAGEMENT
.table-primary
  %table.table.table-striped.table-bordered#campaigns{cellpadding:0, cellspacing:0, border:0}
    %thead
      %tr
        %th.bg-success These are all of your listicles
#listicles
  - @listicles = [nil] + @listicles.to_a
  - @listicles.each_slice(3).each_with_index do |listicles, i|
    .row
      - listicles.each_with_index do |listicle, j|
        .col-md-4
          .panel
            - if i == 0 && j == 0
              .panel-heading
                %span.panel-title
                  &nbsp;

              .panel-body(style="height: 220px;")
                = link_to new_listicle_path(current_user), id: 'new-listicle', style: 'width: 75px' do
                  %i.fa.fa-2x.fa-plus(style="margin-left: 27px")
                  %br
                  New Listicle
            - else
              .panel-heading
                %span.panel-title
                  = link_to text_or_empty_symbol(limit_text(text_from_html(listicle.get_intro), 25)),
                  show_listicle_url(listicle, preview: true), target: '_blank', class: 'listicle-title preview-button'
              .panel-body
                = link_to show_listicle_url(listicle, preview: true), target: '_blank', class: 'preview preview-button' do
                  - listicle.questions.each do |question|
                    = h question.body.html_safe
              .panel-heading.bottom
                :javascript
                  $(document).ready(function() {
                    $('.toggle').tooltip();
                  } );
                = link_to edit_listicle_path(current_user, listicle), class: 'toggle', 'data-toggle' => 'tooltip', 'data-placement' => 'bottom', 'title'=>'Edit' do
                  %i.fa.fa-pencil.fa-lg
                = link_to show_listicle_url(listicle, preview: true), class: ('preview-button toggle'), 'data-toggle' => 'tooltip', 'data-placement' => 'bottom', 'title' => 'Preview' do
                  %i.fa.fa-eye.fa-lg
                = link_to show_listicle_url(listicle), class: ('embed-code toggle'), 'data-toggle' => 'tooltip', 'data-placement' => 'bottom', 'title' => 'Get Code' do
                  %i.fa.fa-code.fa-lg
                = link_to details_listicle_path(current_user, listicle), class: 'toggle', 'data-toggle' => 'tooltip', 'data-placement' => 'bottom', 'title' => 'Details' do
                  %i.fa.fa-info.fa-lg
                = link_to listicle_analytics_path(current_user, listicle), class: 'toggle', 'data-toggle' => 'tooltip', 'data-placement' => 'bottom', 'title' => 'Analytics' do
                  %i.fa.fa-pie-chart.fa-lg
                = link_to listicle_path(current_user, listicle), class: 'toggle', method: :delete, data: {confirm: 'Do you want to remove this listicle?'}, 'data-toggle' => 'tooltip', 'data-placement' => 'bottom', 'title' => 'Delete' do
                  %i.fa.fa-trash-o.fa-lg
  #dialog.modal.fade(role="dialog" style="display: none;" tabindex="-1")
    %div.modal-dialog.modal-lg.animated.pulse
      .modal-content
        .modal-header
          %button.close{'aria-hidden' => 'true', 'data-dismiss' => 'modal', :type => 'button'} ×
          %h4.modal-title Listicle code
        .modal-body
