.panel
  .panel-heading
    %h2.panel-title
      .row
        .col-sm-6 LISTICLES MANAGEMENT
        .col-sm-6.text-right-not-xs
          =link_to new_listicle_path(current_user), class: %w(btn btn-sm btn-primary btn-labeled) do
            %span.btn-label.fa.fa-plus
            Create Listicle
.table-primary
  %table.table.table-striped.table-bordered#campaigns{cellpadding:0, cellspacing:0, border:0}
    %thead
      %tr
        %th.bg-success{colspan:3} These are all of your listicles
        %th.bg-default{colspan:4} Engagements
      %tr
        %th Listicles
        %th Additional Time on Site
        %th Additional Traffic
        %th Shares
        %th Views
        %th Completes
        %th
    %tbody
#listicles
  - @listicles.each do |listicle|
    .listicle
      = link_to text_from_html(listicle.title), listicle_path(listicle)
      .preview
        %iframe{src: show_listicle_url(listicle), height: 600, width: 600, scrolling: 'no', frameborder: 0}
      .listicle-buttons
        = link_to edit_listicle_path(listicle) do
          %i.fa.fa-pencil
        = link_to listicle_path(listicle), method: :delete, data: {confirm: 'Do you want to remove this listicle?'} do
          %i.fa.fa-times{style: 'color: red'}
        = link_to show_listicle_url(listicle), class: 'embed-code' do
          %i.fa.fa-file-code-o
        = link_to show_listicle_url(listicle), class: 'preview-button' do
          %i.fa.fa-eye
  #dialog