:javascript
  function resizeIframe(obj) {
    obj.style.height = obj.contentWindow.document.body.scrollHeight + 'px';
  }
- if ENV['GOOGLE_ANALYTICS_ID'].present?
  :javascript
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', '#{ENV['GOOGLE_ANALYTICS_ID']}', 'auto');
    ga('require', 'displayfeatures');
    ga('send', 'pageview');
    ga('send', 'event', 'listicle', 'view', '#{@listicle.id}');
    function onResponse() {
      ga('send', 'event', 'listicle', 'response', '#{@listicle.id}');
    }
- else
  :javascript
    function onResponse() {}
:css
  .vote:hover {
    color: #{color(@listicle, :arrows_on_hover)} !important;
  }
  .vote.clicked {
    color: #{color(@listicle, :arrows_selected)} !important;
  }
  .vote {
    color: #{color(@listicle, :arrows_default)} !important;
  }
  .score {
    color: #{color(@listicle, :vote_count)} !important;
  }
  .separator, .question-index {
    background-color: #{color(@listicle, :item_separator)} !important;
  }
%script(src="//segapi.quantserve.com/api/segments.json?a=#{ENV['QUANTCAST_P_CODE']}&callback=qr"))
- if show_item_bar?(@listicle, @preview)
  .top-panel
    = link_to '#' do
      %i.fa.fa-arrow-left.fa-lg
    = link_to edit_listicle_path(current_user, @listicle) do
      %i.fa.fa-pencil.fa-lg
    = link_to show_listicle_url(@listicle), class: 'embed-code' do
      %i.fa.fa-code.fa-lg
    = link_to details_listicle_path(current_user, @listicle) do
      %i.fa.fa-info.fa-lg
    = link_to listicle_analytics_path(current_user, @listicle) do
      %i.fa.fa-pie-chart.fa-lg
    = link_to listicle_path(current_user, @listicle), id: 'delete-listicle' do
      %i.fa.fa-trash-o.fa-lg
    = link_to 'javascript:window.close()', style: 'float: right; margin-right: 20px' do
      %i.fa.fa-times.fa-lg
    #dialog
#listicle-show{style: "padding-top: #{show_item_bar?(@listicle, @preview) ? '40px' : 0}"}
  - if @listicle.intro.present?
    = @listicle.intro.html_safe
  - @listicle.questions.sort_by{|q| -q.score}.each_with_index do |question, index|
    %hr.separator
    %span.question-index= index + 1
    .voting
      - if index == 0
        .call-to-action
          Click me!
          %br
          %i.fa.fa-reply
      = link_to answer_listicle_question_path(question_id: question.id, is_up: true), method: :post, class: 'vote', onclick: 'onResponse()' do
        %i.fa.fa-chevron-up.fa-2x
      - score = question.score
      - if score >= 0
        .score= score
      - else
        .score.negative= score.abs
      = link_to answer_listicle_question_path(question_id: question.id, is_up: false), method: :post, class: 'vote', onclick: 'onResponse()' do
        %i.fa.fa-chevron-down.fa-2x
      - if index == 0
        .call-to-action
          %i.fa.fa-reply
          %br
          Vote!
    .item-content
      = h question.body.html_safe
    %br
  - if @listicle.footer.present?
    = @listicle.footer.html_safe
- if show_item_bar?(@listicle, @preview)
  :javascript
    if (window.opener && window.opener.window.setOptimalIframeHeight) {
      setTimeout(function() {
        window.opener.window.setOptimalIframeHeight($('#listicle-show').css('height'))
      }, 500)
    }