= simple_form_for @inquiry || Inquiry.new, remote: true do |f|
  = f.input :name, placeholder: "Your Name", label: false
  = f.input :email, placeholder: "Your Email", label: false
  = f.input :message, placeholder: "Message", label: false, rows: 5
  .clearfix= f.button :submit, label:"Send", class:"pull-right"

