:sass
  .choice-wrapper
    &.col-md-6
      margin: 0

      overflow: hidden
      cursor: pointer
    .img-responsive
      margin: auto

    input[type]:checked~i.glyphicon.glyphicon-ok.selected
      display: block


    i.glyphicon.glyphicon-ok.selected
      font-size: 1.8em
      position: absolute
      right: 25px
      top: 15px
      color: white
      background-color: rgba(0,0,0,0.5)
      padding: 5px
      padding-left: 15px
      padding-right: 15px
      border: solid 1px white
      display: none

    .option-title
      position: absolute
      bottom: 0
      text-align: center
      color: white
      background-color: rgba(0,0,0,0.5)
      left: 0
      right: 0
      padding-top: 8px
      padding-bottom: 8px

    &.selected-choice
      i.glyphicon.glyphicon-ok.selected
        display: block

    input[type]
      position: absolute
      top: -110%

%div.q_demographics{data:{url: demographics_user_path(@user.id, question.id)}}
  .col-xs-12
    = render "questions/response_fields/shared/title", question: question
    .form-group
      - n=0
      - total_response_count = question.responses.count
      - question.choices.each do |c|
        - n+=1
        %label.col-xs-6.choice-wrapper.c_demographics{data:{url: demographics_user_path(@user.id, question.id, c.id)}}
          .row
            = responsive_image_tag((c.web_image_url || image_path("fallback/choice#{n}.png")), class: "img-responsive")
            %i.response_counter
              - if total_response_count > 0
                = number_to_percentage 100 * c.responses.count.to_f / total_response_count.to_f, precision: 0
          .option-title
            =c.title
  .col-xs-12
    .form-group
      = render "questions/response_fields/shared/sharing",question: question, style_type: "negative"
