!!!
/
  TABLE OF CONTENTS.
  
  Use search to find needed section.
  
  \============================================================================
  
  |  1. $BODY                               |  Body                          |
  |  2. $MAIN_NAVIGATION                    |  Main navigation               |
  |  3. $NAVBAR_ICON_BUTTONS                |  Navbar Icon Buttons           |
  |  4. $MAIN_MENU                          |  Main menu                     |
  |  5. $SLIDERS                            |  Sliders                       |
  |  6. $RANGE_SLIDERS                      |  Range sliders                 |
  |  7. $SORTABLE_ACCORDIONS                |  Sortable accordions           |
  |  8. $SORTABLE_TABS                      |  Sortable tabs                 |
  |  9. $MULTILEVEL_MENUS                   |  Multilevel menus              |
  |  10. $AUTOCOMPLETE                      |  Autocomplete                  |
  |  11. $PROGRESS_BARS                     |  Progress bars                 |
  |  12. $SPINNERS                          |  Spinners                      |
  |  13. $JQUERY_UI_EXTRAS                  |  jQuery UI extras              |
  |      13.1. $DATEPICKER                  |  Datepicker                    |
  |      13.2. $DATEPICKER_MULTIPLE_MONTHS  |  Datepicker - multiple months  |
  |      13.3. $TOOLTIPS                    |  Tooltips                      |
  
  \============================================================================
/[if IE 8] <html class="ie8">
/[if IE 9] <html class="ie9 gt-ie8">
/ [if gt IE 9]><!
%html.gt-ie8.gt-ie9.not-ie
  / <![endif]
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}/
    %title jQuery UI - UI Elements - PixelAdmin
    %meta{:content => "width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0", :name => "viewport"}/
    / Open Sans font from Google CDN
    %link{:href => "http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,600,700,300&subset=latin", :rel => "stylesheet", :type => "text/css"}/
    / Pixel Admin's stylesheets
    %link{:href => "assets/stylesheets/bootstrap.min.css", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "assets/stylesheets/pixel-admin.min.css", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "assets/stylesheets/widgets.min.css", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "assets/stylesheets/rtl.min.css", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "assets/stylesheets/themes.min.css", :rel => "stylesheet", :type => "text/css"}/
    /[if lt IE 9]
      <script src="assets/javascripts/ie.min.js"></script>
  /
    1. $BODY ======================================================================================
    
    Body
    
    Classes:
    * 'theme-{THEME NAME}'
    * 'right-to-left'      - Sets text direction to right-to-left
    * 'main-menu-right'    - Places the main menu on the right side
    * 'no-main-menu'       - Hides the main menu
    * 'main-navbar-fixed'  - Fixes the main navigation
    * 'main-menu-fixed'    - Fixes the main menu
    * 'main-menu-animated' - Animate main menu
  %body.theme-default.main-menu-animated
    :javascript
      var init = [];
    / Demo script
    %script{:src => "assets/demo/demo.js"}
    / / Demo script
    #main-wrapper
      /
        2. $MAIN_NAVIGATION ===========================================================================
        
        Main navigation
      #main-navbar.navbar.navbar-inverse{:role => "navigation"}
        / Main menu toggle
        %button#main-menu-toggle{:type => "button"}
          %i.navbar-icon.fa.fa-bars.icon
          %span.hide-menu-text HIDE MENU
        .navbar-inner
          / Main navbar header
          .navbar-header
            / Logo
            %a.navbar-brand{:href => "index.html"}
            %div
              %img{:alt => "Pixel Admin", :src => "assets/images/pixel-admin/main-navbar-logo.png"}/
            PixelAdmin
            / Main navbar toggle
            %button.navbar-toggle.collapsed{"data-target" => "#main-navbar-collapse", "data-toggle" => "collapse", :type => "button"}
              %i.navbar-icon.fa.fa-bars
          / / .navbar-header
          #main-navbar-collapse.collapse.navbar-collapse.main-navbar-collapse
            %div
              %ul.nav.navbar-nav
                %li
                  %a{:href => "#"} Home
                %li.dropdown
                  %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"} Dropdown
                  %ul.dropdown-menu
                    %li
                      %a{:href => "#"} First item
                    %li
                      %a{:href => "#"} Second item
                    %li.divider
                    %li
                      %a{:href => "#"} Third item
              / / .navbar-nav
              .right.clearfix
                %ul.nav.navbar-nav.pull-right.right-navbar-nav
                  /
                    3. $NAVBAR_ICON_BUTTONS =======================================================================
                    
                    Navbar Icon Buttons
                    
                    NOTE: .nav-icon-btn triggers a dropdown menu on desktop screens only. On small screens .nav-icon-btn acts like a hyperlink.
                    
                    Classes:
                    * 'nav-icon-btn-info'
                    * 'nav-icon-btn-success'
                    * 'nav-icon-btn-warning'
                    * 'nav-icon-btn-danger'
                  %li.nav-icon-btn.nav-icon-btn-danger.dropdown
                    %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#notifications"}
                      %span.label 5
                      %i.nav-icon.fa.fa-bullhorn
                      %span.small-screen-text Notifications
                    / NOTIFICATIONS
                    / Javascript
                    :javascript
                      init.push(function () {
                      	$('#main-navbar-notifications').slimScroll({ height: 250 });
                      });
                    / / Javascript
                    .dropdown-menu.widget-notifications.no-padding{:style => "width: 300px"}
                      #main-navbar-notifications.notifications-list
                        .notification
                          .notification-title.text-danger SYSTEM
                          .notification-description
                            %strong> Error 500
                            \: Syntax error in index.php at line
                            = succeed "." do
                              %strong 461
                          .notification-ago 12h ago
                          .notification-icon.fa.fa-hdd-o.bg-danger
                        / / .notification
                        .notification
                          .notification-title.text-info STORE
                          .notification-description
                            You have
                            %strong 9
                            new orders.
                          .notification-ago 12h ago
                          .notification-icon.fa.fa-truck.bg-info
                        / / .notification
                        .notification
                          .notification-title.text-default CRON DAEMON
                          .notification-description
                            Job
                            %strong "Clean DB"
                            has been completed.
                          .notification-ago 12h ago
                          .notification-icon.fa.fa-clock-o.bg-default
                        / / .notification
                        .notification
                          .notification-title.text-success SYSTEM
                          .notification-description
                            Server
                            = succeed "." do
                              %strong up
                          .notification-ago 12h ago
                          .notification-icon.fa.fa-hdd-o.bg-success
                        / / .notification
                        .notification
                          .notification-title.text-warning SYSTEM
                          .notification-description
                            %strong> Warning
                            \: Processor load
                            = succeed "." do
                              %strong 92%
                          .notification-ago 12h ago
                          .notification-icon.fa.fa-hdd-o.bg-warning
                        / / .notification
                      / / .notifications-list
                      %a.notifications-link{:href => "#"} MORE NOTIFICATIONS
                    / / .dropdown-menu
                  %li.nav-icon-btn.nav-icon-btn-success.dropdown
                    %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#messages"}
                      %span.label 10
                      %i.nav-icon.fa.fa-envelope
                      %span.small-screen-text Income messages
                    / MESSAGES
                    / Javascript
                    :javascript
                      init.push(function () {
                      	$('#main-navbar-messages').slimScroll({ height: 250 });
                      });
                    / / Javascript
                    .dropdown-menu.widget-messages-alt.no-padding{:style => "width: 300px;"}
                      #main-navbar-messages.messages-list
                        .message
                          %img.message-avatar{:alt => "", :src => "assets/demo/avatars/2.jpg"}/
                          %a.message-subject{:href => "#"} Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                          .message-description
                            from
                            %a{:href => "#"} Robert Jang
                            \&nbsp;&nbsp;·&nbsp;&nbsp;
                            2h ago
                        / / .message
                        .message
                          %img.message-avatar{:alt => "", :src => "assets/demo/avatars/3.jpg"}/
                          %a.message-subject{:href => "#"} Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                          .message-description
                            from
                            %a{:href => "#"} Michelle Bortz
                            \&nbsp;&nbsp;·&nbsp;&nbsp;
                            2h ago
                        / / .message
                        .message
                          %img.message-avatar{:alt => "", :src => "assets/demo/avatars/4.jpg"}/
                          %a.message-subject{:href => "#"} Lorem ipsum dolor sit amet.
                          .message-description
                            from
                            %a{:href => "#"} Timothy Owens
                            \&nbsp;&nbsp;·&nbsp;&nbsp;
                            2h ago
                        / / .message
                        .message
                          %img.message-avatar{:alt => "", :src => "assets/demo/avatars/5.jpg"}/
                          %a.message-subject{:href => "#"} Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                          .message-description
                            from
                            %a{:href => "#"} Denise Steiner
                            \&nbsp;&nbsp;·&nbsp;&nbsp;
                            2h ago
                        / / .message
                        .message
                          %img.message-avatar{:alt => "", :src => "assets/demo/avatars/2.jpg"}/
                          %a.message-subject{:href => "#"} Lorem ipsum dolor sit amet.
                          .message-description
                            from
                            %a{:href => "#"} Robert Jang
                            \&nbsp;&nbsp;·&nbsp;&nbsp;
                            2h ago
                        / / .message
                        .message
                          %img.message-avatar{:alt => "", :src => "assets/demo/avatars/2.jpg"}/
                          %a.message-subject{:href => "#"} Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                          .message-description
                            from
                            %a{:href => "#"} Robert Jang
                            \&nbsp;&nbsp;·&nbsp;&nbsp;
                            2h ago
                        / / .message
                        .message
                          %img.message-avatar{:alt => "", :src => "assets/demo/avatars/3.jpg"}/
                          %a.message-subject{:href => "#"} Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                          .message-description
                            from
                            %a{:href => "#"} Michelle Bortz
                            \&nbsp;&nbsp;·&nbsp;&nbsp;
                            2h ago
                        / / .message
                        .message
                          %img.message-avatar{:alt => "", :src => "assets/demo/avatars/4.jpg"}/
                          %a.message-subject{:href => "#"} Lorem ipsum dolor sit amet.
                          .message-description
                            from
                            %a{:href => "#"} Timothy Owens
                            \&nbsp;&nbsp;·&nbsp;&nbsp;
                            2h ago
                        / / .message
                        .message
                          %img.message-avatar{:alt => "", :src => "assets/demo/avatars/5.jpg"}/
                          %a.message-subject{:href => "#"} Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                          .message-description
                            from
                            %a{:href => "#"} Denise Steiner
                            \&nbsp;&nbsp;·&nbsp;&nbsp;
                            2h ago
                        / / .message
                        .message
                          %img.message-avatar{:alt => "", :src => "assets/demo/avatars/2.jpg"}/
                          %a.message-subject{:href => "#"} Lorem ipsum dolor sit amet.
                          .message-description
                            from
                            %a{:href => "#"} Robert Jang
                            \&nbsp;&nbsp;·&nbsp;&nbsp;
                            2h ago
                        / / .message
                      / / .messages-list
                      %a.messages-link{:href => "#"} MORE MESSAGES
                    / / .dropdown-menu
                  / /3. $END_NAVBAR_ICON_BUTTONS
                  %li
                    %form.navbar-form.pull-left
                      %input.form-control{:placeholder => "Search", :type => "text"}/
                  %li.dropdown
                    %a.dropdown-toggle.user-menu{"data-toggle" => "dropdown", :href => "#"}
                      %img{:src => "assets/demo/avatars/1.jpg"}/
                      %span John Doe
                    %ul.dropdown-menu
                      %li
                        %a{:href => "#"}
                          %span.label.label-warning.pull-right> New
                          Profile
                      %li
                        %a{:href => "#"}
                          %span.badge.badge-primary.pull-right> New
                          Account
                      %li
                        %a{:href => "#"}
                          %i.dropdown-icon.fa.fa-cog>
                          \&nbsp;&nbsp;Settings
                      %li.divider
                      %li
                        %a{:href => "pages-signin.html"}
                          %i.dropdown-icon.fa.fa-power-off>
                          \&nbsp;&nbsp;Log Out
                / / .navbar-nav
              / / .right
          / / #main-navbar-collapse
        / / .navbar-inner
      / / #main-navbar
      / /2. $END_MAIN_NAVIGATION
      /
        4. $MAIN_MENU =================================================================================
        
        Main menu
        
        Notes:
        * to make the menu item active, add a class 'active' to the <li>
        example: <li class="active">...</li>
        * multilevel submenu example:
        <li class="mm-dropdown">
        <a href="#"><span class="mm-text">Submenu item text 1</span></a>
        <ul>
        <li>...</li>
        <li class="mm-dropdown">
        <a href="#"><span class="mm-text">Submenu item text 2</span></a>
        <ul>
        <li>...</li>
        \...
        </ul>
        </li>
        \...
        </ul>
        </li>
      #main-menu{:role => "navigation"}
        #main-menu-inner
          #menu-content-demo.menu-content.top
            /
              Menu custom content demo
              CSS:        styles/pixel-admin-less/demo.less or styles/pixel-admin-scss/_demo.scss
              Javascript: html/assets/demo/demo.js
            %div
              .text-bg
                %span.text-slim Welcome,
                %span.text-semibold John
              %img{:alt => "", :src => "assets/demo/avatars/1.jpg"}/
              .btn-group
                %a.btn.btn-xs.btn-primary.btn-outline.dark{:href => "#"}
                  %i.fa.fa-envelope
                %a.btn.btn-xs.btn-primary.btn-outline.dark{:href => "#"}
                  %i.fa.fa-user
                %a.btn.btn-xs.btn-primary.btn-outline.dark{:href => "#"}
                  %i.fa.fa-cog
                %a.btn.btn-xs.btn-danger.btn-outline.dark{:href => "#"}
                  %i.fa.fa-power-off
              %a.close{:href => "#"} &times;
          %ul.navigation
            %li
              %a{:href => "index.html"}
                %i.menu-icon.fa.fa-dashboard
                %span.mm-text Dashboard
            %li.mm-dropdown
              %a{:href => "#"}
                %i.menu-icon.fa.fa-th
                %span.mm-text Layouts
                %span.label.label-warning Updated
              %ul
                %li
                  %a{:href => "layouts-grid.html", :tabindex => "-1"}
                    %span.mm-text Grid
                %li
                  %a{:href => "layouts-main-menu.html", :tabindex => "-1"}
                    %i.menu-icon.fa.fa-th-list
                    %span.mm-text Main menu
                    %span.label.label-warning Updated
            %li
              %a{:href => "stat-panels.html"}
                %i.menu-icon.fa.fa-tasks
                %span.mm-text Stat panels
            %li
              %a{:href => "widgets.html"}
                %i.menu-icon.fa.fa-flask
                %span.mm-text Widgets
            %li.mm-dropdown
              %a{:href => "#"}
                %i.menu-icon.fa.fa-desktop
                %span.mm-text UI elements
              %ul
                %li
                  %a{:href => "ui-buttons.html", :tabindex => "-1"}
                    %span.mm-text Buttons
                %li
                  %a{:href => "ui-typography.html", :tabindex => "-1"}
                    %span.mm-text Typography
                %li
                  %a{:href => "ui-tabs.html", :tabindex => "-1"}
                    %span.mm-text Tabs &amp; Accordions
                %li
                  %a{:href => "ui-modals.html", :tabindex => "-1"}
                    %span.mm-text Modals
                %li
                  %a{:href => "ui-alerts.html", :tabindex => "-1"}
                    %span.mm-text Alerts &amp; Tooltips
                %li
                  %a{:href => "ui-components.html", :tabindex => "-1"}
                    %span.mm-text Components
                %li
                  %a{:href => "ui-panels.html", :tabindex => "-1"}
                    %span.mm-text Panels
                %li
                  %a{:href => "ui-jqueryui.html", :tabindex => "-1"}
                    %span.mm-text jQuery UI
                %li
                  %a{:href => "ui-icons.html", :tabindex => "-1"}
                    %span.mm-text Icons
                %li
                  %a{:href => "ui-utility-classes.html", :tabindex => "-1"}
                    %span.mm-text Utility classes
            %li.mm-dropdown
              %a{:href => "#"}
                %i.menu-icon.fa.fa-check-square
                %span.mm-text Form components
              %ul
                %li
                  %a{:href => "forms-layouts.html", :tabindex => "-1"}
                    %span.mm-text Layouts
                %li
                  %a{:href => "forms-general.html", :tabindex => "-1"}
                    %span.mm-text General
                %li
                  %a{:href => "forms-advanced.html", :tabindex => "-1"}
                    %span.mm-text Advanced
                %li
                  %a{:href => "forms-pickers.html", :tabindex => "-1"}
                    %span.mm-text Pickers
                %li
                  %a{:href => "forms-validation.html", :tabindex => "-1"}
                    %span.mm-text Validation
                %li
                  %a{:href => "forms-editors.html", :tabindex => "-1"}
                    %span.mm-text Editors
            %li
              %a{:href => "tables.html"}
                %i.menu-icon.fa.fa-table
                %span.mm-text Tables
            %li
              %a{:href => "charts.html"}
                %i.menu-icon.fa.fa-bar-chart-o
                %span.mm-text Charts
            %li.mm-dropdown
              %a{:href => "#"}
                %i.menu-icon.fa.fa-files-o
                %span.mm-text Pages
                %span.label.label-success 16
              %ul
                %li
                  %a{:href => "pages-search.html", :tabindex => "-1"}
                    %span.mm-text Search results
                %li
                  %a{:href => "pages-pricing.html", :tabindex => "-1"}
                    %span.mm-text Plans &amp; pricing
                %li
                  %a{:href => "pages-faq.html", :tabindex => "-1"}
                    %span.mm-text FAQ
                %li
                  %a{:href => "pages-profile.html", :tabindex => "-1"}
                    %span.mm-text Profile
                %li
                  %a{:href => "pages-timeline.html", :tabindex => "-1"}
                    %span.mm-text Timeline
                %li
                  %a{:href => "pages-signin.html", :tabindex => "-1"}
                    %span.mm-text Sign In
                %li
                  %a{:href => "pages-signup.html", :tabindex => "-1"}
                    %span.mm-text Sign Up
                %li
                  %a{:href => "pages-signin-alt.html", :tabindex => "-1"}
                    %span.mm-text Sign In Alt
                %li
                  %a{:href => "pages-signup-alt.html", :tabindex => "-1"}
                    %span.mm-text Sign Up Alt
                %li
                  %a{:href => "pages-invoice.html", :tabindex => "-1"}
                    %span.mm-text Invoice
                %li
                  %a{:href => "pages-404.html", :tabindex => "-1"}
                    %span.mm-text Error 404
                %li
                  %a{:href => "pages-500.html", :tabindex => "-1"}
                    %span.mm-text Error 500
                %li.mm-dropdown
                  %a{:href => "#"}
                    %i.menu-icon.fa.fa-envelope
                    %span.mm-text Messages
                  %ul
                    %li
                      %a{:href => "pages-inbox.html", :tabindex => "-1"}
                        %span.mm-text Inbox
                    %li
                      %a{:href => "pages-show-email.html", :tabindex => "-1"}
                        %span.mm-text Show message
                    %li
                      %a{:href => "pages-new-email.html", :tabindex => "-1"}
                        %span.mm-text New message
                %li
                  %a{:href => "pages-blank.html", :tabindex => "-1"}
                    %span.mm-text Blank page
            %li
              %a{:href => "complete-ui.html"}
                %i.menu-icon.fa.fa-briefcase
                %span.mm-text Complete UI
            %li
              %a{:href => "color-builder.html"}
                %i.menu-icon.fa.fa-tint
                %span.mm-text Color Builder
            %li.mm-dropdown
              %a{:href => "#"}
                %i.menu-icon.fa.fa-sitemap
                %span.mm-text Menu levels
                %span.badge.badge-primary 6
              %ul
                %li
                  %a{:href => "#", :tabindex => "-1"}
                    %span.mm-text Menu level 1.1
                    %span.badge.badge-danger 12
                    %span.label.label-info 21
                %li
                  %a{:href => "#", :tabindex => "-1"}
                    %span.mm-text Menu level 1.2
                %li.mm-dropdown
                  %a{:href => "#", :tabindex => "-1"}
                    %span.mm-text Menu level 1.3
                    %span.label.label-warning 5
                  %ul
                    %li
                      %a{:href => "#", :tabindex => "-1"}
                        %span.mm-text Menu level 2.1
                    %li.mm-dropdown
                      %a{:href => "#", :tabindex => "-1"}
                        %span.mm-text Menu level 2.2
                      %ul
                        %li.mm-dropdown
                          %a{:href => "#", :tabindex => "-1"}
                            %span.mm-text Menu level 3.1
                          %ul
                            %li
                              %a{:href => "#", :tabindex => "-1"}
                                %span.mm-text Menu level 4.1
                        %li
                          %a{:href => "#", :tabindex => "-1"}
                            %span.mm-text Menu level 3.2
                    %li
                      %a{:href => "#", :tabindex => "-1"}
                        %span.mm-text Menu level 2.2
          / / .navigation
          .menu-content
            %a.btn.btn-primary.btn-block.btn-outline.dark{:href => "pages-invoice.html"} Create Invoice
        / / #main-menu-inner
      / / #main-menu
      / /4. $MAIN_MENU
      #content-wrapper
        .page-header
          %h1
            %span.text-light-gray> UI Elements /
            jQuery UI
        / / .page-header
        .note.note-info
          More info and examples at
          %a{:href => "http://jqueryui.com", :target => "_blank"} http://jqueryui.com
        .note.note-warning
          jQuery UI horizontal sliders are not supporting right-to-left direction. To use horizontal sliders with right-to-left direction you need set
          %code range: 'max'
          option.
        .row
          .col-sm-6
            /
              5. $SLIDERS ===================================================================================
              
              Sliders
            / Styles
            :css
              .ui-slider-colors-demo { margin-bottom: 20px; }
              .ui-v-slider-colors-demo { float: left; margin-right: 20px; }
              .right-to-left .ui-v-slider-colors-demo { float: right; margin-left: 20px; margin-right: 0; }
            / / Styles
            / Javascript
            :javascript
              init.push(function () {
              	var colorful_sliders_options = {
              		'range': 'min',
              		'min': 0,
              		'max': 100,
              		'value': 60
              	};
              	$('.ui-slider-colors-demo').slider(colorful_sliders_options);
              	$('.ui-v-slider-colors-demo').slider($.extend({ orientation: 'vertical' }, colorful_sliders_options));
              });
            / / Javascript
            .panel
              .panel-heading
                %span.panel-title Sliders
              .panel-body
                .row
                  .col-md-6
                    / Horizontal sliders
                    .ui-slider-colors-demo
                    .ui-slider-success.ui-slider-colors-demo
                    .ui-slider-danger.ui-slider-colors-demo
                    .ui-slider-warning.ui-slider-colors-demo
                    .ui-slider-info.ui-slider-colors-demo
                  .col-md-6
                    / Vertical sliders
                    .ui-v-slider-colors-demo{:style => "height: 100px;"}
                    .ui-slider-success.ui-v-slider-colors-demo{:style => "height: 100px;"}
                    .ui-slider-danger.ui-v-slider-colors-demo{:style => "height: 100px;"}
                    .ui-slider-warning.ui-v-slider-colors-demo{:style => "height: 100px;"}
                    .ui-slider-info.ui-v-slider-colors-demo{:style => "height: 100px;"}
            / /5. $SLIDERS
          .col-sm-6
            /
              6. $RANGE_SLIDERS =============================================================================
              
              Range sliders
            / Styles
            :css
              .ui-slider-range-demo { margin-bottom: 20px; }
              .ui-v-slider-range-demo { float: left; margin-right: 20px; }
              .right-to-left .ui-v-slider-range-demo { float: right; margin-left: 20px; margin-right: 0; }
            / / Styles
            / Javascript
            :javascript
              init.push(function () {
              	var range_sliders_options = {
              		'range': true,
              		'min': 0,
              		'max': 500,
              		'values': [ 125, 300 ]
              	};
              	$('.ui-slider-range-demo').slider(range_sliders_options);
              	$('.ui-v-slider-range-demo').slider($.extend({ orientation: 'vertical' }, range_sliders_options));
              });
            / / Javascript
            .panel
              .panel-heading
                %span.panel-title Range sliders
              .panel-body
                .row
                  .col-md-6
                    / Horizontal sliders
                    .ui-slider-range-demo
                    .ui-slider-success.ui-slider-range-demo
                    .ui-slider-danger.ui-slider-range-demo
                    .ui-slider-warning.ui-slider-range-demo
                    .ui-slider-info.ui-slider-range-demo
                  .col-md-6
                    / Vertical sliders
                    .ui-v-slider-range-demo{:style => "height: 100px;"}
                    .ui-slider-success.ui-v-slider-range-demo{:style => "height: 100px;"}
                    .ui-slider-danger.ui-v-slider-range-demo{:style => "height: 100px;"}
                    .ui-slider-warning.ui-v-slider-range-demo{:style => "height: 100px;"}
                    .ui-slider-info.ui-v-slider-range-demo{:style => "height: 100px;"}
            / /6. $RANGE_SLIDERS
        .row
          .col-sm-12
            /
              7. $SORTABLE_ACCORDIONS =======================================================================
              
              Sortable accordions
            / Javascript
            :javascript
              init.push(function () {
              	$( "#ui-accordion" ).accordion({
              		heightStyle: "content",
              		header: "> div > h3"
              	}).sortable({
              		axis: "y",
              		handle: "h3",
              		stop: function( event, ui ) {
              			// IE doesn't register the blur when sorting
              			// so trigger focusout handlers to remove .ui-state-focus
              			ui.item.children( "h3" ).triggerHandler( "focusout" );
              		}
              	});
              });
            / / Javascript
            .panel
              .panel-heading
                %span.panel-title Sortable accordions
              .panel-body
                #ui-accordion
                  .group
                    %h3 Section 1
                    %div
                      %p
                        Mauris mauris ante, blandit et, ultrices a, suscipit eget, quam. Integer ut neque. Vivamus nisi metus, molestie vel, gravida in, condimentum sit amet, nunc. Nam a nibh. Donec suscipit eros. Nam mi. Proin viverra leo ut odio. Curabitur malesuada. Vestibulum a velit eu ante scelerisque vulputate.
                  / / .group
                  .group
                    %h3 Section 2
                    %div
                      %p
                        Sed non urna. Donec et ante. Phasellus eu ligula. Vestibulum sit amet purus. Vivamus hendrerit, dolor at aliquet laoreet, mauris turpis porttitor velit, faucibus interdum tellus libero ac justo. Vivamus non quam. In suscipit faucibus urna.
                  / / .group
                  .group
                    %h3 Section 3
                    %div
                      %p
                        Nam enim risus, molestie et, porta ac, aliquam ac, risus. Quisque lobortis. Phasellus pellentesque purus in massa. Aenean in pede. Phasellus ac libero ac tellus pellentesque semper. Sed ac felis. Sed commodo, magna quis lacinia ornare, quam ante aliquam nisi, eu iaculis leo purus venenatis dui.
                      %ul
                        %li List item one
                        %li List item two
                        %li List item three
                  / / .group
                  .group
                    %h3 Section 4
                    %div
                      %p
                        Cras dictum. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Aenean lacinia mauris vel est.
                      %p
                        Suspendisse eu nisl. Nullam ut libero. Integer dignissim consequat lectus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
                  / / .group
                / / #ui-accordion
            / /7. $SORTABLE_ACCORDIONS
        .row
          .col-sm-12
            /
              8. $SORTABLE_TABS =============================================================================
              
              Sortable tabs
            / Javascript
            :javascript
              init.push(function(){
              	var tabs = $( "#ui-tabs-demo" ).tabs({ active: 0 });
              	tabs.find(".ui-tabs-nav").sortable({
              	  axis: "x",
              	  stop: function() {
              		tabs.tabs( "refresh" );
              	  }
              	});
              });
            / / Javascript
            .panel
              .panel-heading
                %span.panel-title Sortable tabs
              .panel-body
                #ui-tabs-demo
                  %ul.nav.nav-tabs
                    %li
                      %a{:href => "#ui-tabs-1-demo"} Nunc tincidunt
                    %li
                      %a{:href => "#ui-tabs-2-demo"}
                        Proin dolor
                        %span.label.label-success 12
                    %li
                      %a{:href => "#ui-tabs-3-demo"} Aenean lacinia
                  / / .nav
                  .tab-content.tab-content-bordered
                    #ui-tabs-1-demo
                      %p Proin elit arcu, rutrum commodo, vehicula tempus, commodo a, risus. Curabitur nec arcu. Donec sollicitudin mi sit amet mauris. Nam elementum quam ullamcorper ante. Etiam aliquet massa et lorem. Mauris dapibus lacus auctor risus. Aenean tempor ullamcorper leo. Vivamus sed magna quis ligula eleifend adipiscing. Duis orci. Aliquam sodales tortor vitae ipsum. Aliquam nulla. Duis aliquam molestie erat. Ut et mauris vel pede varius sollicitudin. Sed ut dolor nec orci tincidunt interdum. Phasellus ipsum. Nunc tristique tempus lectus.
                    #ui-tabs-2-demo
                      %p Morbi tincidunt, dui sit amet facilisis feugiat, odio metus gravida ante, ut pharetra massa metus id nunc. Duis scelerisque molestie turpis. Sed fringilla, massa eget luctus malesuada, metus eros molestie lectus, ut tempus eros massa ut dolor. Aenean aliquet fringilla sem. Suspendisse sed ligula in ligula suscipit aliquam. Praesent in eros vestibulum mi adipiscing adipiscing. Morbi facilisis. Curabitur ornare consequat nunc. Aenean vel metus. Ut posuere viverra nulla. Aliquam erat volutpat. Pellentesque convallis. Maecenas feugiat, tellus pellentesque pretium posuere, felis lorem euismod felis, eu ornare leo nisi vel felis. Mauris consectetur tortor et purus.
                    #ui-tabs-3-demo
                      %p Mauris eleifend est et turpis. Duis id erat. Suspendisse potenti. Aliquam vulputate, pede vel vehicula accumsan, mi neque rutrum erat, eu congue orci lorem eget lorem. Vestibulum non ante. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Fusce sodales. Quisque eu urna vel enim commodo pellentesque. Praesent eu risus hendrerit ligula tempus pretium. Curabitur lorem enim, pretium nec, feugiat nec, luctus a, lacus.
                      %p Duis cursus. Maecenas ligula eros, blandit nec, pharetra at, semper at, magna. Nullam ac lacus. Nulla facilisi. Praesent viverra justo vitae neque. Praesent blandit adipiscing velit. Suspendisse potenti. Donec mattis, pede vel pharetra blandit, magna ligula faucibus eros, id e  titor, tempor ac, tempor vitae, pede. Aenean vehicula velit eu tellus interdum rutrum. Maecenas commodo. Pellentesque nec elit. Fusce in lacus. Vivamus a libero vitae lectus hendrerit hendrerit.
                  / / .tab-content
                / / .ui-tabs
            / /8. $SORTABLE_TABS
        .row
          .col-sm-6
            /
              9. $MULTILEVEL_MENUS ==========================================================================
              
              Multilevel menus
            / Javascript
            :javascript
              init.push(function(){
              	$( "#ui-menu-demo" ).menu();
              });
            / / Javascript
            .panel
              .panel-heading
                %span.panel-title Multilevel menus
              .panel-body
                .btn-group
                  %button.btn.btn-primary.dropdown-toggle{"data-toggle" => "dropdown", :type => "button"}
                    Show menu &nbsp;
                    %i.fa.fa-caret-down
                  %ul#ui-menu-demo.dropdown-menu
                    %li.disabled
                      %a{:href => "#"} Aberdeen
                    %li
                      %a{:href => "#"} Ada
                    %li
                      %a{:href => "#"}
                        %i.fa.fa-cog>
                        Adamsville
                    %li.divider
                    %li.dropdown-header Some header
                    %li
                      %a{:href => "#"} Addyston
                    %li
                      %a{:href => "#"} Delphi
                      %ul
                        %li.ui-state-disabled
                          %a{:href => "#"} Ada
                        %li
                          %a{:href => "#"} Saarland
                        %li
                          %a{:href => "#"} Salzburg
                    %li
                      %a{:href => "#"} Saarland
                    %li
                      %a{:href => "#"} Salzburg
                      %ul
                        %li
                          %a{:href => "#"} Delphi
                          %ul
                            %li
                              %a{:href => "#"} Ada
                            %li
                              %a{:href => "#"} Saarland
                            %li
                              %a{:href => "#"} Salzburg
                        %li
                          %a{:href => "#"} Delphi
                          %ul
                            %li
                              %a{:href => "#"} Ada
                            %li
                              %a{:href => "#"} Saarland
                            %li
                              %a{:href => "#"} Salzburg
                        %li
                          %a{:href => "#"} Perch
                    %li.ui-state-disabled
                      %a{:href => "#"} Amesville
                  / / .dropdown-menu
                / / .btn-group
            / /9. $MULTILEVEL_MENUS
            /
              10. $AUTOCOMPLETE =============================================================================
              
              Autocomplete
            / Javascript
            :javascript
              init.push(function () {
              	$("#ui-autocomplete-city").autocomplete({
              		source: function(request, response) {
              			$.ajax({
              				url: "http://ws.geonames.org/searchJSON",
              				dataType: "jsonp",
              				data: {
              					featureClass: "P",
              					style: "full",
              					maxRows: 12,
              					name_startsWith: request.term,
              					username: 'pixeladmin' // replace it with your geonames' username
              				},
              				success: function(data) {
              					response($.map(data.geonames, function(item) {
              						return {
              							label: item.name + (item.adminName1 ? ", " + item.adminName1 : "") + ", " + item.countryName,
              							value: item.name
              						}
              					}));
              				}
              			});
              		},
              		minLength: 2,
              		select: function(event, ui) {
              			console.log(ui.item ?
              				"Selected: " + ui.item.label :
              				"Nothing selected, input was " + this.value);
              		}
              	});
              });
            / / Javascript
            .panel
              .panel-heading
                %span.panel-title Autocomplete
              .panel-body
                %input#ui-autocomplete-city.form-control{:placeholder => "Type your city"}/
            / /10. $AUTOCOMPLETE
          .col-sm-6
            /
              11. $PROGRESS_BARS ============================================================================
              
              Progress bars
            / Javascript
            :javascript
              init.push(function(){
              	$("#ui-progressbar-demo").progressbar({ value: 37 });
              	$("#ui-progressbar1-demo").progressbar({ value: 17 });
              	$("#ui-progressbar2-demo").progressbar({ value: 59 });
              	$("#ui-progressbar3-demo").progressbar({ value: 41 });
              	$("#ui-progressbar4-demo").progressbar({ value: 72 });
              });
            / / Javascript
            / Styles
            :css
              .uidemo-jui-progress-bars-demo > div + div { margin-top: 15px; }
            / / Styles
            .panel
              .panel-heading
                %span.panel-title Progress bars
              .panel-body.uidemo-jui-progress-bars-demo
                #ui-progressbar-demo
                #ui-progressbar1-demo.ui-progressbar-warning
                #ui-progressbar2-demo.ui-progressbar-danger
                #ui-progressbar3-demo.ui-progressbar-success
                #ui-progressbar4-demo.ui-progressbar-info
            / /11. $PROGRESS_BARS
        .row
          .col-sm-12
            /
              12. $SPINNERS =================================================================================
              
              Spinners
            / Javascript
            :javascript
              init.push(function(){
              	$("#ui-spinner-demo").spinner();

              	$("#ui-spinner-disable-demo").click(function() {
              		if ($("#ui-spinner-demo").spinner("option", "disabled")) {
              			$("#ui-spinner-demo").spinner("enable");
              		} else {
              			$("#ui-spinner-demo").spinner("disable");
              		}
              	});

              	$( "#ui-spinner-toggle-demo").click(function() {
              		if ($("#ui-spinner-demo").data("ui-spinner")) {
              			$("#ui-spinner-demo").spinner("destroy");
              		} else {
              			$("#ui-spinner-demo").spinner();
              		}
              	});

              	$("#ui-spinner-getvalue-demo").click(function() {
              		alert($("#ui-spinner-demo").spinner("value"));
              	});

              	$("#ui-spinner-setvalue-demo").click(function() {
              		$("#ui-spinner-demo").spinner("value", 5);
              	});
              });
            / / Javascript
            .panel
              .panel-heading
                %span.panel-title Spinners
              .panel-body
                %p
                  %input#ui-spinner-demo.form-control{:name => "value"}/
                %div
                  %button#ui-spinner-disable-demo.btn> Toggle disable/enable
                  \&nbsp;&nbsp;&nbsp;
                  = succeed "&amp;nbsp;&amp;nbsp;&amp;nbsp;" do
                    %button#ui-spinner-toggle-demo.btn Toggle widget
                  = succeed "&amp;nbsp;&amp;nbsp;&amp;nbsp;" do
                    %button#ui-spinner-getvalue-demo.btn Get value
                  %button#ui-spinner-setvalue-demo.btn Set value to 5
            / /12. $SPINNERS
        .row
          .col-sm-12
            /
              13. $JQUERY_UI_EXTRAS =========================================================================
              
              jQuery UI extras
            / Javascript
            :javascript
              init.push(function () {
              	if (window.JQUERY_UI_EXTRAS_LOADED) {
              		$('#enable-jquery-ui-extras').attr('disabled', 'disabled');
              	} else {
              		$('#enable-jquery-ui-extras').click(function () {
              			$button = $(this);
              			$button.button('loading');
              			$.getScript('assets/javascripts/jquery-ui-extras.min.js', function () {
              				// Initialize datepickers and tooltips
              				initDatepickerDemo();
              				initDatepickerCustomDemo();
              				initTooltipsDemo();
              				$button.attr('disabled', 'disabled').text('jQuery UI extras is enabled');
              			});
              		});
              	}
              });
            / / Javascript
            .panel
              .panel-heading
                %span.panel-title jQuery UI extras
              .panel-body
                .note.note-info
                  jQuery UI extras includes datepicker and tooltips. Extras is disabled by default because it overrides plugins with the same name. To enable jQuery UI extras just uncomment
                  %code &lt;script src="assets/javascripts/jquery-ui-extras.min.js"&gt;&lt;/script&gt;
                  line at the end of the html file.
                  %br/
                  %br/
                  %button#enable-jquery-ui-extras.btn.btn-success.btn-sm Enable jQuery UI extras
                .row
                  .col-md-6
                    /
                      13.1. $DATEPICKER =============================================================================
                      
                      Datepicker
                    / Javascript
                    :javascript
                      var initDatepickerDemo = function () {
                      	if (window.JQUERY_UI_EXTRAS_LOADED) {
                      		$('#ui-datepicker-demo').datepicker();
                      	}
                      }
                      init.push(initDatepickerDemo);
                    / / Javascript
                    %h6.text-light-gray.text-semibold.text-xs{:style => "margin:20px 0 10px 0;"} DATEPICKER
                    %input#ui-datepicker-demo.form-control{:type => "text"}/
                    / /13.1. $DATEPICKER
                  .col-md-6
                    /
                      13.2. $DATEPICKER_MULTIPLE_MONTHS =============================================================
                      
                      Datepicker - multiple months
                    / Javascript
                    :javascript
                      var initDatepickerCustomDemo = function () {
                      	if (window.JQUERY_UI_EXTRAS_LOADED) {
                      		$('#ui-datepicker-custom-demo').datepicker({
                      			numberOfMonths: 3,
                      			showButtonPanel: true
                      		});
                      	}
                      }
                      init.push(initDatepickerCustomDemo);
                    / / Javascript
                    %h6.text-light-gray.text-semibold.text-xs{:style => "margin:20px 0 10px 0;"} DATEPICKER - MULTIPLE MONTHS
                    %input#ui-datepicker-custom-demo.form-control{:type => "text"}/
                    / /13.2. $DATEPICKER_MULTIPLE_MONTHS
                .row
                  .col-md-12
                    /
                      13.3. $TOOLTIPS ===============================================================================
                      
                      Tooltips
                    / Javascript
                    :javascript
                      var initTooltipsDemo = function () {
                      	if (window.JQUERY_UI_EXTRAS_LOADED) {
                      		$('#jquery-ui-tooltips-demo').tooltip();
                      	}
                      }
                      init.push(initTooltipsDemo);
                    / / Javascript
                    %h6.text-light-gray.text-semibold.text-xs{:style => "margin:20px 0 10px 0;"} TOOLTIPS
                    #jquery-ui-tooltips-demo.well
                      %p
                        %a{:href => "#", :title => "That&apos;s what this widget is"} Tooltips
                        can be attached to any element. When you hover the element with your mouse, the title attribute is displayed in a little box next to the element, just like a native tooltip.
                      %p
                        But as it's not a native tooltip, it can be styled. Any themes built with
                        %a{:href => "http://themeroller.com", :title => "ThemeRoller: jQuery UI&apos;s theme builder application"} ThemeRoller
                        will also style tooltips accordingly.
                      %p Tooltips are also useful for form elements, to show some additional information in the context of each field.
                      %p
                        %label{:for => "age"} Your age:
                        %input#age.form-control.input-sm{:title => "We ask for your age only for statistical purposes."}/
                      %p Hover the field to see the tooltip.
                    / /13.3. $TOOLTIPS
            / /13. $JQUERY_UI_EXTRAS
      / / #content-wrapper
      #main-menu-bg
    / / #main-wrapper
    / Get jQuery from Google CDN
    / [if !IE]>
    :javascript
      window.jQuery || document.write('<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js">'+"<"+"/script>");
    / <![endif]
    /[if lte IE 9]
      <script type="text/javascript"> window.jQuery || document.write('<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js">'+"<"+"/script>"); </script>
    / Pixel Admin's javascripts
    %script{:src => "assets/javascripts/bootstrap.min.js"}
    %script{:src => "assets/javascripts/pixel-admin.min.js"}
    :javascript
      init.push(function () {
      	// Javascript code here
      })
      window.PixelAdmin.start(init);
