!!!
/[if IE 8] <html class="ie8">
/[if IE 9] <html class="ie9 gt-ie8">
:plain
  <!--[if gt IE 9] -->
%html.gt-ie8.gt-ie9.not-ie
  / <![endif]
  %head
    %title= full_title(yield(:title))

    %meta{"http-equiv" => "Content-Type", content: "text/html; charset=utf-8"}
    %meta{name: :viewport, content: "width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"}/
    %meta{name:"apple-itunes-app", content: "app-id=#{ENV['app_store_id']}"}

    = csrf_meta_tags


    / Open Sans font from Google CDN
    %link{href: "http://fonts.googleapis.com/css?family=Lato:300,400,700,900,300italic,400italic,700italic,900italic", rel: "stylesheet", type: "text/css"}/
    %link{href: "http://fonts.googleapis.com/css?family=Open+Sans:400italic,300,400,700", rel: "stylesheet", type: "text/css"}/
    %link{href: "http://fonts.googleapis.com/css?family=Dosis:300,400,500,600,700", rel: "stylesheet", type: "text/css"}/

    = stylesheet_link_tag "clean_canvas", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "clean_canvas", "data-turbolinks-track" => true

    /[if lt IE 9]
      <script src="assets/javascripts/ie.min.js"></script>

  %body#clean-canvas.pull-top
    #main-wrapper
      #content-wrapper
        = render 'layouts/shared/header'
        - if flash.present?
          - flash.each do |key, value|
            = js add_gritter(value.to_s, image: false, title: key.titleize, sticky: false, time: 2000, class_name: "gritter" )
        #undertop.container
          = yield
        = render 'layouts/clean_canvas/footer'

    = yield :modals if content_for :modals
    = debug(params) if Rails.env.development?