!!!
/[if IE 8] <html class="ie8">
/[if IE 9] <html class="ie9 gt-ie8">
:plain
  <!--[if gt IE 9] -->
%html.gt-ie8.gt-ie9.not-ie
  / <![endif]
  %head
    %title= full_title(yield(:title))

    %meta{"http-equiv" => "Content-Type", content: "text/html; charset=utf-8"}
    = yield :meta if content_for :meta

    = csrf_meta_tags

    / Open Sans font from Google CDN
    %link{href: 'http://fonts.googleapis.com/css?family=Roboto:400,500', rel: 'stylesheet', type: 'text/css'}/
    %link{href: 'http://fonts.googleapis.com/css?family=Roboto+Condensed:700', rel: 'stylesheet', type: 'text/css'}/

    %base{target: "_blank"}

    = stylesheet_link_tag "embeddable_unit", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "embeddable_unit", "data-turbolinks-track" => true

    /[if lt IE 9]
      <script src="assets/javascripts/ie.min.js"></script>

    = render 'surveys/analytics'
    = render 'layouts/shared/tag_manager'
    = yield(:script)

  %body.statisfy_embed
    - if flash.present?
      .flash
        - flash.each do |key, value|
          %div{class: key.to_s}=value.to_s
    .response
      = yield

    = debug(params) if Rails.env.development?
