:plain
  <!--[if gt IE 9] -->
%html.gt-ie8.gt-ie9.not-ie.pxajs
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}/
    %title
      - if content_for? :title
        = yield(:title)
      - else
        Statisfy
    %meta{:content => "width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0", :name => "viewport"}/
    %link{:href => "http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,600,700,300&subset=latin", :rel => "stylesheet", :type => "text/css"}/
    = yield :meta if content_for :meta
    = csrf_meta_tags
    = stylesheet_link_tag 'pixel_admin', media: 'all', 'data-turbolinks-track' => true
    = stylesheet_link_tag 'sign_page', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'sign_page', 'data-turbolinks-track' => true
    :plain
      <!-- [if lt IE 9] -->
    = javascript_include_tag 'pixel_admin/ie.min.js'
    :plain
      <![endif]-->
  %body.theme-default.page-signin{:style => ""}
    #page-signin-bg
      .overlay
      = image_tag asset_path 'signin-bg-1.jpg', style: 'height: 100%; width: auto;'
    = yield
    - if content_for?(:additional)
      = yield(:additional)
